@import 'src/styles.scss';

.pagination {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.page-item {
  margin: 0 5px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

#itemsPerPageSelect{
  width: 65px;
}

#label_itemsPerPageSelect{
  white-space: nowrap;
}

.page-item.disabled .page-link {
  background-color: #e9ecef;
  border-color: #dee2e6;
  cursor: not-allowed;
}

.page-item.active .page-link {
  background-color: #3c27c5;
  border-color: #3c27c5;
  color: white;
  box-shadow: 0 2px 8px rgba(0, 123, 255, 0.3);
}

.page-link {
  border-radius: 50%;
  padding: 8px 12px;
  background-color: white;
  border: 1px solid #dee2e6;
  color: #3c27c5;
  transition: all 0.3s ease;
  cursor: pointer;
}

.page-link:hover {
  background-color: #f0f0f0;
  text-decoration: none;
  border-color: #3c27c5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.page-link[disabled] {
  background-color: transparent;
  border: none;
  color: #6c757d;
  cursor: default;
}

.page-item a[aria-label="Previous"],
.page-item a[aria-label="Next"] {
  padding: 8px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #dee2e6;
  color: #3c27c5;
  transition: background-color 0.3s ease;
}

.page-item a[aria-label="Previous"]:hover,
.page-item a[aria-label="Next"]:hover {
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.page-item.disabled a[aria-label="Previous"],
.page-item.disabled a[aria-label="Next"] {
  color: #6c757d;
  background-color: #e9ecef;
  cursor: not-allowed;
}