<mat-sidenav-container>
    <mat-sidenav class="p-2" #sidenav mode="side" opened="!collapsed()" [style.width]="sidenavWidth()">
      <!-- INICIO - botón de apertura y cierre-->
      <div class="d-flex align-items-center ms-1 gap-3">
        <button  mat-icon-button (click)="isExpanded.set(!isExpanded())">
          <mat-icon class="">menu</mat-icon>
        </button>
        <h4 matListItemTitle class="fs-3 mb-0">Mobentis</h4>
      </div>
      <!-- FIN - botón de apertura y cierre-->
      <mat-nav-list class="d-flex flex-column justify-content-between">
        <!-- INICIO - Lista de botones-->
        <div class=" d-flex flex-column align-items-center gap-2">
          <!-- Boton Dahsboard-->
          <a mat-list-item [routerLink]="['dashboard/global']" routerLinkActive="selected-menu-item"
            #rlaDashboard="routerLinkActive" [activated]="rlaDashboard.isActive" class="d-flex align-items-center pe-0 ps-1">
            <span matListItemTitle class="d-flex align-items-center gap-4">
              <button class="btn  w-6 h-6 text-center">
                <mat-icon>dashboard</mat-icon>
              </button>
              Dashboard
            </span>
          </a>
          <!-- INICIO - Boton Rechazos -->
          <a mat-list-item [routerLink]="['rechazos/global']" routerLinkActive="selected-menu-item"
            #rlaRechazos="routerLinkActive" [activated]="rlaRechazos.isActive" class="d-flex align-items-center pe-0 ps-1">
            <span matListItemTitle class="d-flex align-items-center gap-4">
              <button class="btn  w-6 h-6 text-center">
                <mat-icon>broken_image</mat-icon>
              </button>
              Rechazos
            </span>
          </a>
          <!-- INICIO - Boton Clientes -->
          <a mat-list-item [routerLink]="['clientes/global']" routerLinkActive="selected-menu-item"
            #rlaDashboard="routerLinkActive" [activated]="rlaDashboard.isActive" class="d-flex align-items-center pe-0 ps-1">
            <span matListItemTitle class="d-flex align-items-center gap-4">
              <button class="btn  w-6 h-6 text-center">
                <mat-icon>people</mat-icon>
              </button>
              Clientes
            </span>
          </a>
          
<!-- 
  <mat-expansion-panel class="w-100" [class.mat-elevation-z0]="true">
    <mat-expansion-panel-header routerLink="/rechazos" routerLinkActive="active" class="p-0 pl-3.5 h-[48px] border-b border-b-stone-200 border-b-solid rounded-none hover:rounded-none">
      <div class="flex items-center pr-0">
        <mat-icon class="me-5 inline-flex" [ngClass]="{'active-icon': isActiveRoute('/rechazos')}">broken_image</mat-icon>
        <span class="font-normal text-base flex items-center" [ngClass]="{'active-text': isActiveRoute('/rechazos')}">Rechazos</span>
      </div>
    </mat-expansion-panel-header>

    <mat-nav-list [ngClass]="{'w-fit': !navExpanded, 'w-100': navExpanded}" class="pt-1 flex flex-col items-center gap-1">
      <div class="flex items-center flex-col">
        <a routerLink="/rechazos/informe" mat-list-item class="px-0 flex items-center justify-center w-full my-2"> 
          <mat-icon class="" [ngClass]="{'active-icon': isActiveRoute('/rechazos/informe')}">insert_drive_file</mat-icon>
          <span [ngClass]="{'active-text': isActiveRoute('/rechazos/informe')}">Informe</span>
        </a>
        <a routerLink="/rechazos/maps" mat-list-item class="p-0 flex items-center justify-center w-full my-2"> 
          <mat-icon class="" [ngClass]="{'active-icon': isActiveRoute('/rechazos/maps')}">map</mat-icon>
          <span [ngClass]="{'active-text': isActiveRoute('/rechazos/maps')}">Maps</span>
        </a>
        <a routerLink="/rechazos/cliente" mat-list-item class="p-0 flex items-center justify-center w-full my-2"> 
          <mat-icon class="" [ngClass]="{'active-icon': isActiveRoute('/rechazos/cliente')}">person</mat-icon>
          <span [ngClass]="{'active-text': isActiveRoute('/rechazos/cliente')}">Cliente</span>
        </a>
        <a routerLink="/rechazos/table" mat-list-item class="p-0 flex items-center justify-center w-full my-2"> 
          <mat-icon class="" [ngClass]="{'active-icon': isActiveRoute('/rechazos/table')}">person</mat-icon>
          <span [ngClass]="{'active-text': isActiveRoute('/rechazos/table')}">Cliente</span>
        </a>
      </div>
    </mat-nav-list>
  </mat-expansion-panel> -->
  
  
  
  
  
  
          <!-- Config -->
          <a mat-list-item [routerLink]="['configuracion/global']" routerLinkActive="selected-menu-item"
            #rlaConfig="routerLinkActive" [activated]="rlaConfig.isActive" class="d-flex align-items-center pe-0 ps-1">
            <span routerLink="/configuration" matListItemTitle class="d-flex align-items-center gap-4">
              <button type="button" class="btn w-6 h-6 text-center">
                <mat-icon [ngClass]="{'active-icon': isActiveRoute('/configuration')}">build</mat-icon>
              </button>
              Configuracion
            </span>
          </a>
          <!-- Pon aqui otros list -->
        </div>
        <mat-divider></mat-divider>
        <!-- Final de Rechazos -->
        <div class="d-flex flex-column align-items-center">
          <!-- INICIO - Boton Dahsboard-->
          <a mat-list-item routerLink="/logout" routerLinkActive="selected-menu-item"
            #rlaLogout="routerLinkActive" [activated]="rlaLogout.isActive" class="d-flex align-items-center pe-0 ps-1">
            <span matListItemTitle class="d-flex align-items-center gap-4">
              <button class="btn w-6 h-6 text-center">
                <mat-icon [ngClass]="{'active-icon': isActiveRoute('/logout')}">exit_to_app</mat-icon>
              </button>
              Log Out
            </span>
          </a>
          <!-- Pon aqui otros list -->
        </div>
      </mat-nav-list>
    </mat-sidenav>
    
    <!-- El bonton de salir -->
    <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
      <div class="h-screen">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  