@import "src/styles.scss";
th {
    color: #4e5eba;
    font-size: small;
}
tr{
    font-size: small;
}
i{
    font-size: 20px;
}
.disabled {
    size: 1000px;
}

.btnSave,
.btnClear {
    cursor: pointer;
}

.btnClear {
    color: #B0304B;
    border: none;
    background-color: white;
}

.btnSave{
    color: rgb(7, 170, 7);
    border: none;
    background-color: white;
}

.disabled-icon {
    opacity: 0.5;
    color: gray;
}

.btnDelete,
.btnClear {
    color: #B0304B;
    border: none;
    background-color: white;
}

.btnEdit {
    color: darkgrey;
}
