<div>
    <app-popup-header [title]="'Competidores'" [icon]="'/assets/images/iconos/configuracion-icon-dark.svg'"
        (close)="cerrarPopup()"></app-popup-header>
</div>

<mat-dialog-content class="mat-typography py-0">
    <div class="table-responsive">
        <table class="table table-sm m-0">
            <thead>
                <tr>
                    <th scope="col" class="color-primary ">Nombre</th>
                    <th scope="col" class="color-primary ">Familia</th>
                    <th scope="col" class="color-primary text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of paginatedData">
                    <!-- Mostrar input si la fila está en modo de edición -->
                    <td>
                        <input *ngIf="editingCompetitorId === row.id" [(ngModel)]="row.name" class="form-control"
                            type="text" />
                        <span *ngIf="editingCompetitorId !== row.id">{{ row.name }}</span>
                    </td>
                    <td>
                        <select *ngIf="editingCompetitorId === row.id" [(ngModel)]="row.segmentation_value_id"
                            class="form-select form-select-sm">
                            <option [ngValue]="-1">Todas</option>
                            <option *ngFor="let family of familyList" [ngValue]="family.id">{{ family.name }}</option>
                        </select>
                        <span *ngIf="editingCompetitorId !== row.id">{{ getFamilyName(row.segmentation_value_id)
                            }}</span>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center gap-3">
                            <!-- Mostrar lápiz si no está en modo de edición, y check si está en modo de edición -->
                            <app-btn-icon-edit *ngIf="editingCompetitorId !== row.id && row.id"
                                (btnClicked)="toggleEdit(row.id)"></app-btn-icon-edit>
                            <i *ngIf="editingCompetitorId === row.id" (click)="saveChanges(row)"
                                class="bi bi-check-lg btnSave fs-5 px-0" ngbTooltip="Guardar"></i>

                            <!-- Mostrar X si está en edición y trash si no está en modo de edición -->
                            <app-btn-icon-delete *ngIf="editingCompetitorId !== row.id && row.id !== undefined"
                                (btnClicked)="deleteCompetidor(row.id)"></app-btn-icon-delete>
                            <i *ngIf="editingCompetitorId === row.id" (click)="cancelEdit()"
                                class="bi bi-x-lg btnClear color-quaternary fs-5 px-0" ngbTooltip="Cancelar"></i>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="paginatedData.length === 0">
                    <td colspan="3" class="text-center">No se han encontrado datos</td>
                </tr>
                <tr class="sticky-footer ">
                    <td><input type="text" class="form-control form-control-sm" [(ngModel)]="newCompetitonName"
                            placeholder="Nombre"></td>
                    <td>
                        <select [(ngModel)]="newSegmentation_value_id" class="form-select form-select-sm">
                            <option [ngValue]="-1">Todas</option>
                            <option *ngFor="let family of familyList" [ngValue]="family.id">{{ family.name }}</option>
                        </select>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center gap-3">
                            <button [ngbTooltip]="isButtonEnabled() ? 'Guardar' : null" (click)="insertCompetitor()"
                                [ngClass]="{'btnSave': true, 'disabled-icon': !isButtonEnabled()}">
                                <i class="bi bi-check-lg fs-5 px-0"></i> 
                            </button>
                            <button [ngbTooltip]="isButtonEnabled() ? 'Limpiar' : null" (click)="clearNewCompetitor()"
                                [ngClass]="{'btnDelete':true, 'disabled-icon': !isButtonEnabled()}"
                                class="color-quaternary">
                                <i class="bi bi-x-lg fs-5 px-0"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <app-pagination [totalItems]="competitorList.length" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage"
        (pageChange)="onPageChange($event)" (itemsPerPageChanged)="onItemsPerPageChanged($event)"></app-pagination>
</mat-dialog-content>