.fondoBlanco {
  border-radius: 1em;
  background-color: white;
  height: 100%;
}

.shadow-card {
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.titulo {
  color: #4e5fbb;
}

.list-group-item:last-child {
  margin-bottom: 0;
}