mat-form-field {
    width: 100%;
}

.img {
    width: 100%;
    max-width: 300px;
}

.row {
    padding-bottom: .5em;
}

.botonCancelar {
    background-color: lightgray;
}

.botonCancelar:hover {
    background-color: rgb(194, 194, 194);
}

.botonAceptar {
    background-color: #3f51b5;
}

.botonAceptar:hover {
    background-color: #3f51b5;
}

