<h2 mat-dialog-title class="m-0 py-0">Perfil</h2>
<form [formGroup]="form" (ngSubmit)="update()">
  <mat-dialog-content class="container py-0">
    <div [class.d-none]="cargando">
      <div class="row gap-2">
        <div class="col-4 d-flex flex-column p-2 gap-2">
          <img [src]="img" class="img " onError="this.src='assets/images/user.png'" />
          <button type="button" class="botonAceptar text-white" (click)="editarImg()" mat-button>Cambiar Avatar</button>
        </div>
        <div class="col p-2 d-flex flex-column justify-content-between">
          <div class="container">
            <div class="row gx-2">
              <div class="col">
                <!--Producto-->
                <mat-form-field appearance="fill" subscriptSizing="dynamic">
                  <mat-label>Usuario</mat-label>
                  <input readonly="false" formControlName="usuario" matInput placeholder="Usuario" autocomplete="off" />
                </mat-form-field>
              </div>
              <div class="col-5">
                <!--Descripcion-->
                <mat-form-field appearance="fill" subscriptSizing="dynamic">
                  <mat-label>Cargo</mat-label>
                  <input readonly="false" formControlName="cargo" matInput placeholder="Cargo" autocomplete="off" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <!--Referencia-->
                <mat-form-field appearance="fill" subscriptSizing="dynamic">
                  <mat-label>Email</mat-label>
                  <input readonly="true" formControlName="email" matInput placeholder="Email" autocomplete="off" />
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col text-end">
                <button type="button" class="botonAceptar text-white" (click)="changePassword()" mat-button>Cambiar Contraseña</button>
              </div>
            </div>
          </div>
          <div class="text-end pe-3">
            <p>Usuario registrado el {{fecha_insert}}</p>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="d-flex justify-content-end gap-2">
    <button mat-raised-button color="light" type="submit">Aceptar</button>
    <button mat-raised-button color="light" type="button" (click)="cancelar()" mat-button
      cdkFocusInitial>Cancelar</button>
  </mat-dialog-actions>
</form>