mat-form-field {
  width: 100%;
}

.img {
  width: 100%;
  max-width: 300px;
}

.row {
  padding-bottom: 0.5em;
}

.botonCancelar {
  background-color: lightgray;
}

.botonCancelar:hover {
  background-color: rgb(194, 194, 194);
}

.botonAceptar {
  background-color: #3f51b5;
}

.botonAceptar:hover {
  background-color: #3f51b5;
}

.container {
  border-radius: 0.25rem;
}

h2 {
  color: #3f51b5;
  margin-bottom: 0px;
}
#img {
  margin: auto;
}

.avatar-container {
    position: relative;
    display: inline-block;
    cursor: pointer; /* Cambia el cursor a pointer */
  }
  
  .avatar-img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .avatar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    transition: opacity 0.3s ease; 
  }
  
  .avatar-overlay span {
    color: #333; 
  }
  
  .avatar-container:hover .avatar-overlay {
    opacity: 1; 
  }