<div class="screen">
  <div class="separador-superior"></div>
  <div class="">
    <div class="d-flex justify-content-between m-4">
      <h1 class="mb-0">
        <img class="icon-title" src="assets/images/iconos/clientes-icon-dark.svg" alt="Clientes" matListItemIcon />
        <span class=" mb-0 ps-2 color-dark page-heading">Clientes</span>
      </h1>
    </div>


    <div class="m-3">
      <div class="d-flex align-items-center justify-content-between gap-5">
        <!-- buscador -->
        <div class="d-flex gap-3">
          <div class="input-group mb-3" id="busqueda">
            <input class="form-control border-end-0 border" type="search" placeholder="Buscar..."
              id="example-search-input">
            <span class="input-group-append">
              <button class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border ms-n5"
                type="button">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
          <!-- filtros --> 
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              Filtros
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="#">Periodo de venta</a></li>
              <li><a class="dropdown-item" href="#">Potenciabilidad</a></li>
              <li><a class="dropdown-item" href="#">Tipología</a></li>
              <li><a class="dropdown-item" href="#">Imagen</a></li>
              <li><a class="dropdown-item" href="#">Cliente</a></li>
              <li><a class="dropdown-item" href="#">Provincia</a></li>
              <li><a class="dropdown-item" href="#">Población</a></li>
            </ul>
          </div>
            <!-- Formulario de filtros desplegable (se muestra al seleccionar una opción) -->
          <div *ngIf="filtroSeleccionado === 'Potenciabilidad'" class="mt-3">
            <label for="potenciabilidad">Seleccione Potenciabilidad</label>
            <ng-select [items]="potenciabilidadList" bindLabel="name" [multiple]="true" formControlName="potenciabilidadFilterControl" class="form-control p-0" placeholder="Seleccione una o más opciones">
            </ng-select>
          </div>
        </div>
        
        <!-- botones de  filtros y mapa -->
        <div class="boton-filtro d-flex gap-2 align-self-start me-3">
          <button ngbTooltip="Ver en Mapa" class="btn btn-color d-flex justify-content-center align-items-center gap-2"
            (click)="verEnMapa()">
            <mat-icon>location_on</mat-icon>
          </button>
          <button ngbTooltip="Ver filtros" class="btn btn-secondary d-flex align-items-center" data-bs-toggle="modal"
            data-bs-target="#filtroModal">
            <mat-icon class="p-0 m-0">filter_list_alt</mat-icon>
          </button>
        </div>

      </div>
      <!-- tabla -->
      <div class="table-responsive {{cargando?'d-none':''}}">
        <table class="table table-hover">
          <!-- Checkbox Column -->
          <thead>
            <tr>
              <th class="th-checkbox row_column_checkbox text-center p-2">
                <div class="d-flex align-items-center">
                  <input type="checkbox" (change)="masterToggle()" [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                </div>
              </th>
              <th scope="col" class="row_column_sm cursor" (click)="sortData('customer_ERP_id')">Código
                <i *ngIf="sortColumn === 'customer_ERP_id'" class="bi"
                  [ngClass]="sortDirection === 'asc' ? 'bi-arrow-up' : 'bi-arrow-down'"></i>
              </th>
              <th scope="col" class="cursor" (click)="sortData('name')">
                Nombre
                <i *ngIf="sortColumn === 'name'" class="bi"
                  [ngClass]="sortDirection === 'asc' ? 'bi-arrow-up' : 'bi-arrow-down'"></i>
              </th>
              <th scope="col" class="row_column_md cursor" (click)="sortData('province')">
                Provincia
                <i *ngIf="sortColumn === 'province'" class="bi"
                  [ngClass]="sortDirection === 'asc' ? 'bi-arrow-up' : 'bi-arrow-down'"></i>
              </th>
              <th scope="col" class="row_column_md cursor" (click)="sortData('city')">
                Población
                <i *ngIf="sortColumn === 'city'" class="bi"
                  [ngClass]="sortDirection === 'asc' ? 'bi-arrow-up' : 'bi-arrow-down'"></i>
              </th>
              <th scope="col" class="row_column_sm cursor" (click)="sortData('pc')">
                C.P.
                <i *ngIf="sortColumn === 'pc'" class="bi"
                  [ngClass]="sortDirection === 'asc' ? 'bi-arrow-up' : 'bi-arrow-down'"></i>
              </th>
              <th scope="col" class="cursor" (click)="sortData('address')">
                Dirección
                <i *ngIf="sortColumn === 'address'" class="bi"
                  [ngClass]="sortDirection === 'asc' ? 'bi-arrow-up' : 'bi-arrow-down'"></i>
              </th>
              <th scope="col" class="text-center row_column_sm">Ficha</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let row of dataSource.data">
              <tr>
                <td class="text-center p-2">
                  <div class="d-flex align-items-center">
                    <input type="checkbox" (click)="$event.stopPropagation()" (change)="selection.toggle(row)"
                      [checked]="selection.isSelected(row)" [disabled]="isCheckboxDisabled(row)">
                  </div>
                </td>
                <td>{{ row.customer_ERP_id }}</td>
                <td [title]="row.name">
                  {{ row.name }}
                </td>
                <td [title]="row.province">
                  {{ row.province }}
                </td>
                <td [title]="row.city">
                  {{ row.city }}
                </td>
                <td>{{ row.pc != 0 ? row.pc : "" }}</td>
                <td [title]="row.address">
                  {{ row.address }}
                </td>
                <td class="text-center">
                  <button class="btn btn-link p-0" (click)="editClient(row.id)" title="Ficha">
                    <i class="bi bi-eye-fill fs-5 icon_color cursor"></i>
                  </button>
                </td>
              </tr>

            </ng-container>
          </tbody>
        </table>

      </div>
      <div class="d-flex justify-content-center {{cargando?'':'d-none'}}">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <!-- paginator -->
      <!-- <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link"aria-label="First">
              <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>

          
          <li class="page-item">
            <a class="page-link">1</a>
          </li>
          <li class="page-item">
            <a class="page-link">2</a>
          </li>
          <li class="page-item">
            <a class="page-link">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" aria-label="Last">
              <span aria-hidden="true">&raquo;&raquo;</span>
            </a>
          </li>
        </ul>
      </nav> -->
    </div>
  </div>

  <!-- apartado de filtros -->
  <div class="modal fade" tabindex="-1" id="filtroModal" aria-labelledby="filtroModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-slide-right">
      <div class="modal-content">
        <div class="bg-blanco sticky">
          <div class="modal-header d-flex align-items-center gap-2 mb-2">
            <img src="../../../assets/images/iconos/filtros-icon.svg" alt="" width="32" height="32" alt="filtro"
              class="icono-svg">
            <h2 class="my-0">Filtro de clientes</h2>
          </div>
          <div class="modal-body">
            <form [formGroup]="form" (ngSubmit)="applyComplexFilter()" class="d-flex flex-column gap-3">
              <div class="d-flex flex-column gap-3">
                <div class="col-12 justify-content-end gap-2 d-flex mt-2">
                  <button class="btn btn-color" type="submit" (click)="applyComplexFilter()">Filtrar</button>
                  <button type="button" class="btn btn-secondary" (click)="filtroReset()">Limpiar</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    aria-label="Close">Cancelar</button>
                </div>
                <div class="mb-2 d-flex flex-column gap-3">
                  <div class="mb-2">
                    <label for="start">Periodo de ventas</label>
                    <div class="input-group">
                      <input type="date" class="form-control" formControlName="start" id="start" placeholder="Desde">
                      <input type="date" class="form-control" formControlName="end" id="end" placeholder="Hasta">
                    </div>
                  </div>
                  <div *ngIf="s1.length > 0" class="mb-2">
                    <label>{{s1[0].name}}</label>
                    <ng-select [items]="s1" bindLabel="segmentation_value" bindValue="segmentation_value_id"
                      formControlName="segmentacion1FilterControl" [multiple]="true" class="form-control p-0"
                      placeholder="Seleccione una o más opciones">
                    </ng-select>
                  </div>
                  <div *ngIf="s2.length > 0" class="mb-2">
                    <label>{{s2[0].name}}</label>
                    <ng-select [items]="s2" bindLabel="segmentation_value" bindValue="segmentation_value_id"
                      formControlName="segmentacion2FilterControl" [multiple]="true" class="form-control p-0"
                      placeholder="Seleccione una o más opciones">
                    </ng-select>
                  </div>

                  <div *ngIf="s3.length > 0" class="mb-2">
                    <label>{{s3[0].name}}</label>
                    <ng-select [items]="s3" bindLabel="segmentation_value" bindValue="segmentation_value_id"
                      formControlName="segmentacion3FilterControl" [multiple]="true" class="form-control p-0"
                      placeholder="Seleccione una o más opciones">
                    </ng-select>
                  </div>

                  <div class="mb-2">
                    <label for="cliente">Cliente</label>
                    <input type="text" class="form-control" formControlName="cliente"
                      placeholder="Introduzca el nombre del cliente">
                  </div>

                  <div class="mb-2">
                    <label for="provincia">Provincia</label>
                    <ng-select [items]="provinciaList" bindLabel="name" [multiple]="true"
                      formControlName="provinciaFilterControl" class="form-control p-0"
                      placeholder="Seleccione una o más provincias">
                    </ng-select>
                  </div>

                  <div class="mb-2">
                    <label for="poblacion">Población</label>
                    <ng-select [items]="poblacionList" bindLabel="name" [multiple]="true"
                      formControlName="poblacionFilterControl" class="form-control p-0"
                      placeholder="Seleccione una o más poblaciones">
                    </ng-select>
                  </div>

                  <!-- <div class="mb-2">
                    <label for="agente">Vendedor</label>
                    <ng-select [items]="agenteList" bindLabel="name" bindValue="id" [multiple]="true"
                      formControlName="agenteFilterControl" class="form-control p-0"
                      placeholder="Seleccione uno o más vendedores">
                    </ng-select>
                  </div>

                  <div class="mb-2">
                    <label for="familia">Familia</label>
                    <ng-select [items]="familiaList" bindLabel="name" [multiple]="true"
                      formControlName="familiaFilterControl" class="form-control p-0"
                      placeholder="Seleccione una o más familias">
                    </ng-select>
                  </div> -->
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>