span {
  position: relative;
  top: 5px;
}

table {
  width: 100%;
  table-layout: fixed;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sticky {
  position: sticky;
  top: 0px;
  z-index: 99000;
}

.bg-blanco {
  background: white;
}

.btnEdit,
.btnContacts {
  cursor: pointer;
  color: #3c27c5;
}

.checkFalse {
  color: #c52727;
}

.checkTrue {
  color: #27c55e;
}

.filtro-container {
  width: 25%;
  position: fixed;
}

#contactos {
  margin-left: 0.5em;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #3ab284;
}

.screen {
  min-height: 100vh;
  background-color: #f3f4f6;
  padding-top: 60px;
}

th {
  color: #3f51b5;
}

.map-button {
  background-color: #3f51b5;
  color: white;
}

.mat-column-checkbox {
  width: 40px;
  padding: 0;
}

.mat-column-customer_ERP_id {
  width: 75px;
  padding: 0;
}

.mat-column-name {
  padding: 0;
}

.mat-column-province {
  width: 80px;
  padding: 0;
}

.mat-column-city {
  width: 140px;
  padding: 0;
}

.mat-column-pc {
  width: 80px;
  padding-right: 0;
}

.mat-column-address {
  padding: 0;
}

.mat-column-has_AIW {
  width: 70px;
  padding: 0;
}

.mat-column-acciones {
  width: 70px;
  padding: 0;
}

.grisClaro {
  background-color: lightgray;
}

.grisClaro:hover {
  background-color: rgb(194, 194, 194);
}

.icon-title {
  width: 40px;
  height: 40px;
}

.color-dark {
  color: #6d6d6d;
}

.icon-svg {
  width: 40px;
  height: 40px;
}
