.separador-superior {
  height: 64px;
}

#busqueda {
  width: 300px;
}

.table-responsive {
  /* la tabla ocupa de alto el 100% de la pantalla - el alto de lo que tiene encima - el alto de lo que tiene por debajo */
  height: calc(100vh - 220px - 43px)
}

table {
  width: 100%;
  font-size: small;
  overflow: visible;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.page-heading {
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 300;
}

td,
th {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: middle;

}

.table thead th {
  position: -webkit-sticky;
  /* Para Safari */
  position: sticky;
  top: 0;
  /* Fija el encabezado en la parte superior */
  background-color: #fff;
  /* Asegúrate de que el fondo sea blanco o del color que desees */
  z-index: 1;
  /* Asegúrate de que esté sobre el contenido de la tabla */
}

.sticky {
  position: sticky;
  top: 0px;
  z-index: 99000;
}

.bg-blanco {
  background: white;
}

.btnEdit,
.btnContacts {
  cursor: pointer;
  color: #3c27c5;
}

.checkFalse {
  color: #c52727;
}

.checkTrue {
  color: #27c55e;
}

.filtro-container {
  position: fixed;
}

/* modal */
.modal-header {
  border-bottom: none;
  padding-bottom: 0;
}

.modal-dialog-slide-right {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  height: 100%;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.modal.fade .modal-dialog-slide-right {
  transform: translateX(0);
}

.modal-content {
  min-height: 100vh;
  padding: 8px;
  width: 500px;
}

.modal-body {
  padding-top: 0;
}

/* end modal */

.ng-select .ng-select-container .ng-value {
  color: #495057;
  /* Ajusta el color del texto para que coincida con Bootstrap */
}

/* Ajusta el ancho del ng-select para que coincida con el diseño de Bootstrap */
ng-select {
  width: 100%;
}

/* columnas medidas */
.row_column_checkbox {
  width: 40px;
}

.spinner-border {
  color: #3c27c5;
  font-size: large;
}

.row_column_sm {
  width: 100px;
}

.row_column_md {
  width: 200px;
}

.row_column_lg{
  width: 400px;
}
.row_column_xl{
  width: 600px;
}

.sort-asc::after {
  content: '▲';
  font-size: 0.8em;
  margin-left: 5px;
}

.sort-desc::after {
  content: '▼';
  font-size: 0.8em;
  margin-left: 5px;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #3f51b5;
}

.screen {
  min-height: 100vh;
  background-color: #f3f4f6;
}

th {
  color: #3f51b5;
}

.cursor {
  cursor: pointer;
}

.btn-color {
  background-color: #3F51B5;
  color: white;
}

.icon_color {
  color: #3F51B5;
}

.map-button {
  background-color: #6b757d;
  color: white;
}

.mat-column-checkbox {
  width: 40px;
  padding: 0;
}

.mat-column-customer_ERP_id {
  width: 75px;
  padding: 0;
}

.mat-column-name {
  padding: 0;
}

.mat-column-province {
  width: 80px;
  padding: 0;
}

.mat-column-city {
  width: 140px;
  padding: 0;
}

.mat-column-pc {
  width: 80px;
  padding-right: 0;
}

.mat-column-address {
  padding: 0;
}

.mat-column-has_AIW {
  width: 70px;
  padding: 0;
}

.mat-column-acciones {
  width: 70px;
  padding: 0;
}

.grisClaro {
  background-color: lightgray;
}

.grisClaro:hover {
  background-color: rgb(194, 194, 194);
}

.icon-title {
  width: 40px;
  height: 40px;
}

.color-dark {
  color: #6d6d6d;
}

.icon-svg {
  width: 40px;
  height: 40px;
}

/* submenu */
.dropdown-toggle::after {
  display: none;
}

.color-text {
  color: #3F51B5;
}

.selected-item {
  background-color: #3F51B5;
  /* Fondo azul */
  color: white;
  /* Texto blanco */
}

.poblacion {
  overflow: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 150px);
}