<div class="background-light-gray">
  <div class="d-flex justify-content-between p-4">
    <h1 class="mb-0">
      <img class="icon-title" src="assets/images/iconos/clientes-icon-dark.svg" alt="Clientes" matListItemIcon />
      <span class=" mb-0 ps-2 dark-gray page-heading">Clientes</span>
    </h1>
  </div>
  <div class="p-3">
    <div class="d-flex align-items-center justify-content-between gap-5 mb-3">
      <div class="d-flex gap-3 align-items-center">
        <!-- buscador -->
        <div class="buscador">
          <app-search-input [searchTerm]="searchTerm" (searchChange)="onSearch($event)"></app-search-input>
        </div>
        

        <!-- boton de filtros aplicados o limpiar -->
        <app-filter-container [componentId]="'clients-general'" (filtersChanged)="onFiltersChanged($event)">
        </app-filter-container>
      </div>

      
      <div class="boton-filtro d-flex gap-2 align-self-start">
         <!-- Spinner de filtros -->
        <div *ngIf="cargando_filtros" class="d-flex justify-content-center">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <button ngbTooltip="Ver en Mapa" class="btn btn-primary d-flex justify-content-center align-items-center gap-2"
          (click)="verEnMapa()">
          <i class="bi bi-geo-alt-fill"></i>
        </button>
      </div>

    </div>
    <!-- tabla -->
    <div class="table-responsive {{cargando?'d-none':''}}">

      <table class="table table-hover table-sm w-100">
        <!-- Checkbox Column -->
        <thead>
          <tr class="w-100">
            <th class="th-checkbox row_column_checkbox text-center px-2">
              <div class="d-flex align-items-center">
                <input type="checkbox" (change)="masterToggle()" [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()">
              </div>
            </th>
            <th scope="col" class="row_column_sm cursor" (click)="sortData('customer_ERP_id')">
              Código
              <i *ngIf="sortColumn === 'customer_ERP_id'" class="bi"
                [ngClass]="sortDirection === 'asc' ? 'bi-arrow-up' : 'bi-arrow-down'"></i>
            </th>
            <th scope="col" class="cursor row_column_lg" (click)="sortData('name')">
              Nombre
              <i *ngIf="sortColumn === 'name'" class="bi"
                [ngClass]="sortDirection === 'asc' ? 'bi-arrow-up' : 'bi-arrow-down'"></i>
            </th>
            <th scope="col" class="row_column_md cursor" (click)="sortData('province')">
              Provincia
              <i *ngIf="sortColumn === 'province'" class="bi"
                [ngClass]="sortDirection === 'asc' ? 'bi-arrow-up' : 'bi-arrow-down'"></i>
            </th>
            <th scope="col" class="row_column_md cursor" (click)="sortData('city')">
              Población
              <i *ngIf="sortColumn === 'city'" class="bi"
                [ngClass]="sortDirection === 'asc' ? 'bi-arrow-up' : 'bi-arrow-down'"></i>
            </th>
            <th scope="col" class="row_column_sm cursor" (click)="sortData('pc')">
              C.P.
              <i *ngIf="sortColumn === 'pc'" class="bi"
                [ngClass]="sortDirection === 'asc' ? 'bi-arrow-up' : 'bi-arrow-down'"></i>
            </th>
            <th scope="col" class="cursor row_column_xl" (click)="sortData('address')">
              Dirección
              <i *ngIf="sortColumn === 'address'" class="bi"
                [ngClass]="sortDirection === 'asc' ? 'bi-arrow-up' : 'bi-arrow-down'"></i>
            </th>
            <th scope="col" class="text-center row_ficha">Ficha</th>
          </tr>
        </thead>
        <tbody class="w-100">
          <ng-container *ngFor="let row of dataSource.data">
            <tr>
              <td class="text-center px-2">
                <div class="d-flex align-items-center">
                  <input type="checkbox" (click)="$event.stopPropagation()" (change)="onRowToggle(row)"
                    [checked]="isSelected(row)" [disabled]="isCheckboxDisabled(row)">
                </div>
              </td>
              <td>{{ row.customer_ERP_id }}</td>
              <td>
                <span [ngbTooltip]="tooltipText" (mouseover)="applyTooltipIfTruncated($event, row.name)"
                  class="truncate-text">{{ row.name }}</span>
              </td>
              <td [title]="row.province">
                <span [ngbTooltip]="tooltipText" (mouseover)="applyTooltipIfTruncated($event, row.province)"
                  class="truncate-text">
                  {{ row.province }}
                </span>
              </td>
              <td [title]="row.city">
                <span [ngbTooltip]="tooltipText" (mouseover)="applyTooltipIfTruncated($event, row.city)"
                  class="truncate-text">
                  {{ row.city }}
                </span>
              </td>
              <td>
                {{ row.pc != 0 ? row.pc : "" }}
              </td>
              <td>
                <span [ngbTooltip]="tooltipText" (mouseover)="applyTooltipIfTruncated($event, row.address)"
                  class="truncate-text">
                  {{ row.address }}
                </span>
              </td>
              <td class="text-center">
                <app-btn-icon-file (btnClicked)="editClient(row.id)"></app-btn-icon-file>
              </td>
            </tr>

          </ng-container>
          <tr *ngIf="dataSource.data.length === 0">
            <td colspan="8" class="text-center">
              No hay datos
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-center {{cargando?'':'d-none'}}">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <!-- Componente de paginación externo -->
    <app-pagination class="{{cargando?'d-none':''}}" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage"
      [currentPage]="currentPage" (pageChange)="onPageChange($event)"
      (itemsPerPageChanged)="onItemsPerPageChanged($event)">
    </app-pagination>

  </div>
</div>