<div class="container mt-4 py-2 px-4 background-light-gray">
    <h2 class="mb-1">Económicos</h2>
    <div class="row">
        <div class="col-12 col-lg-6 px-4">
            <div class="row rounded bg-content-ficha-client">
                <div class="col-12">
                    <mobentis-etiqueta-valor [etiqueta]="'Tipo IVA'" [valor]="'Sin especificar'"></mobentis-etiqueta-valor>
                </div>
                <div class="col-12">
                    <mobentis-etiqueta-valor [etiqueta]="'Forma paga'" [valor]="'Sin especificar'"></mobentis-etiqueta-valor>
                </div>
                <div class="col-12">
                    <mobentis-etiqueta-valor [etiqueta]="'Banco'" [valor]="'Sin especificar'"></mobentis-etiqueta-valor>
                </div>
                <div class="col-12">
                    <mobentis-etiqueta-valor [etiqueta]="'Vencimientos'" [valor]="'Sin especificar'"></mobentis-etiqueta-valor>
                </div>
                <div class="col-12">
                    <mobentis-etiqueta-valor [etiqueta]="'Días pago'" [valor]="'Sin especificar'"></mobentis-etiqueta-valor>
                </div>
            </div>

        </div>
        <div class="col-12 col-lg-6 px-4 ">
            <div class="row rounded bg-content-ficha-client">
                
                <div class="col-12">
                    <mobentis-etiqueta-valor [etiqueta]="'%Dto'" [valor]="'N/A'"></mobentis-etiqueta-valor>
                </div>
                <div class="col-12">
                    <mobentis-etiqueta-valor [etiqueta]="'%Rappel'" [valor]="'N/A'"></mobentis-etiqueta-valor>
                </div>
                <div class="col-12">
                    <mobentis-etiqueta-valor [etiqueta]="'%Dto P.P.'" [valor]="'N/A'"></mobentis-etiqueta-valor>
                </div>
                <div class="col-12">
                    <mobentis-etiqueta-valor [etiqueta]="'Cuenta'" [valor]="'Sin especificar'"></mobentis-etiqueta-valor>
                </div>
                <div class="col-12">
                    <mobentis-etiqueta-valor [etiqueta]="'Tipo tarifa'" [valor]="'Sin especificar'"></mobentis-etiqueta-valor>
                </div>
            </div>
        </div>
    </div>
</div>