<h5>Económicos</h5>
<div class="row">
    <div class="col-2 mb-3">
        <app-etiqueta-valor [etiqueta]="'Tipo IVA'" [valor]="'Sin especificar'"></app-etiqueta-valor>
    </div>
    <div class="col mb-3">
        <app-etiqueta-valor [etiqueta]="'Forma paga'" [valor]="'Sin especificar'"></app-etiqueta-valor>
    </div>
    <div class="col mb-3">
        <app-etiqueta-valor [etiqueta]="'Banco'" [valor]="'Sin especificar'"></app-etiqueta-valor>
    </div>
    <div class="col-2 mb-3">
        <app-etiqueta-valor [etiqueta]="'Vencimientos'" [valor]="'Sin especificar'"></app-etiqueta-valor>
    </div>
</div>
<div class="row">
    <div class="col-2 mb-3">
        <app-etiqueta-valor [etiqueta]="'Días pago'" [valor]="'Sin especificar'"></app-etiqueta-valor>
    </div>
    <div class="col mb-3">
        <div class="row">
            <div class="col mb-3">
                <app-etiqueta-valor [etiqueta]="'%Dto'" [valor]="'N/A'"></app-etiqueta-valor>
            </div>
            <div class="col mb-3">
                <app-etiqueta-valor [etiqueta]="'%Rappel'" [valor]="'N/A'"></app-etiqueta-valor>
            </div>
            <div class="col mb-3">
                <app-etiqueta-valor [etiqueta]="'%Dto P.P.'" [valor]="'N/A'"></app-etiqueta-valor>
            </div>
        </div>
    </div>
    <div class="col mb-3">
        <app-etiqueta-valor [etiqueta]="'Cuenta'" [valor]="'Sin especificar'"></app-etiqueta-valor>
    </div>
    <div class="col-2 mb-3">
        <app-etiqueta-valor [etiqueta]="'Tipo tarifa'" [valor]="'Sin especificar'"></app-etiqueta-valor>
    </div>
</div>