<h3 class="m-0" bg-light mat-dialog-title>{{operacion}} motivo de rechazo</h3>
<form [formGroup]="reasonForm" (ngSubmit)="enviar()">
  <mat-dialog-content class="mat-typography py-0 container">
    <div [class.d-none]="cargando">
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" subscriptSizing="dynamic">
            <mat-label>Código</mat-label>
            <input matInput
                   cdkTextareaAutosize
                   [ngClass]="{'is-invalid': hasErrors('codigo', 'required')}"
                   type="text"
                   id="codigo"
                   formControlName="codigo"
                   placeholder="Código"
                   autocomplete="off">
          </mat-form-field>
          <div class="text-danger" *ngIf="hasErrors('codigo', 'required')">
            El código es obligatorio
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill" subscriptSizing="dynamic">
            <mat-label>Nombre</mat-label>
            <input matInput
                   cdkTextareaAutosize
                   [ngClass]="{'is-invalid': hasErrors('nombre', 'required') || hasErrors('nombre', 'maxlength')}"
                   type="text"
                   id="nombre"
                   formControlName="nombre"
                   placeholder="Nombre"
                   autocomplete="off"
                   maxlength="24">
          </mat-form-field>
          <div class="text-danger" *ngIf="hasErrors('nombre', 'required')">
            El nombre es obligatorio
          </div>
          <div class="text-danger" *ngIf="hasErrors('nombre', 'maxlength')">
            El nombre no puede exceder los 24 caracteres
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-5" *ngIf="cargando">
      <mat-spinner color="primary"></mat-spinner>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="d-flex justify-content-end gap-2">
    <button mat-raised-button color="light" type="submit" cdkFocusInitial>Aceptar</button>
    <button mat-raised-button color="light" type="button" (click)="cancelar()">Cancelar</button>
  </mat-dialog-actions>
</form>
