@import "src/styles.scss";

.page-heading {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 300;
}

.title-icon {
  font-size: 30px;
}

.icon-title {
  width: 35px;
  height: 35px;
  display: block;
  object-fit: contain;
}
