@import "src/styles.scss";

.header {
    background-color: #353e40;
}


.navbar-brand:hover {
    background-color: #44484981;
    color: #fff;
    border-radius: 2px;
}

.navbar-brand{
    margin-right: 0;
}

.navbar-toggler {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
  
.avatar.active {
    border: 2px solid #007bff; /* Opcional: resaltado cuando el menú está abierto */
}

.name {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: .2px;
    padding: 0;
}
.cargo{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: .25px;
}

ul.list-style{
    list-style: none;
}
  

.btn-profile{
    padding-left: 8px;
    padding-right: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
}

.btn-profile:hover{
    background-color: #44484981;
}
.dropdown-toggle::after{
    display: none;
}

@media (max-width: 991.98px) {


    .navbar-toggler {
        display: block;
    }

}
