<div class="">
  <!-- contendor de navbar vertical -->
  <div class="">
    <!-- navbar vertical -->
    <div
      id="sidebar-wrapper"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()"
      [attr.aria-expanded]="isToggled || isHovered"
      [class.hovering]="isHovering && !isToggled"
    >
      <ul class="sidebar-nav">
        <div>
          <li class="sidebar-brand">
            <a [routerLink]="['/']" class="title-navbar">
              <img
                src="../../assets/images/mobentisLogo.png"
                alt="logo"
                width="20"
                height="24"
              />
              <h4 class="m-0" *ngIf="isToggled || isHovered">Converter</h4>
            </a>
          </li>
          <hr class="m-0" />
          <li *ngFor="let item of menuItems">
            <a [routerLink]="item.route" class="navLink">
              <i [class]="item.icon"></i>
              <span *ngIf="isToggled || isHovered">{{ item.label }}</span>
            </a>
          </li>
        </div>
        <div>
          <hr class="m-0" />
          <li class="nav-item dropdown dropend">
            <a
              class="navLink dropdown-toggle"
              id="profileDropdown"
              role="button"
              data-bs-toggle="dropdown"
              [attr.aria-expanded]="profileMenuOpen"
            >
              <i class="bi bi-person-circle"></i>
              <span *ngIf="isToggled || isHovered">{{
                _loginServices.user
              }}</span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="profileDropdown">
              <li>
                <a class="dropdown-item" (click)="openProfileEditPopup()"
                  >Editar perfil</a
                >
              </li>
              <li><hr class="dropdown-divider m-1" /></li>
              <li>
                <a class="dropdown-item" (click)="logout()">Cerrar sesión</a>
              </li>
            </ul>
          </li>
        </div>
      </ul>
    </div>
    <!-- boton para expander navbar vertical -->
    <button
      class="btn bg-white rounded-circle toggle-btn"
      id="menu-toggle"
      (click)="handleToggleButton()"
      (mouseenter)="onButtonMouseEnter()"
      (mouseleave)="onButtonMouseLeave()"
      [attr.aria-expanded]="isToggled || isHovered"
      [ngClass]="{ visible: isToggled || isHovered || isButtonHovered }"
    >
      <i class="bi bi-arrow-right-short"></i>
    </button>
  </div>
  <!-- Contenido de la pagina -->
  <div
    id="page-content-wrapper"
    class="background-light-gray"
    [attr.aria-expanded]="isToggled"
  >
    <router-outlet></router-outlet>
  </div>
</div>
