.disabled {
    size: 1000px;
}

.btnEdit,
.btnDelete,
.btnSave,
.btnClear {
    cursor: pointer;
}

.btnDelete,
.btnClear {
    color: #B0304B;
    border: none;
    background-color: white;
}

.btnEdit {
    color: darkgrey;
}
.btnSave{
    color: rgb(7, 170, 7);
    border: none;
    background-color: white;
}

th {
    color: #4e5eba;
}
i{
    font-size: 20px;
}

.disabled-icon {
    opacity: 0.5;
    color: gray;
}