@import "src/styles.scss";

.disabled {
  size: 1000px;
}

.btnDelete,
.btnClear {
  border: none;
  background-color: white;
}

.btnEdit {
  color: darkgrey;
}
.btnSave {
  color: rgb(7, 170, 7);
  border: none;
  background-color: white;
}

.disabled-icon {
  opacity: 0.5;
  color: gray;
  pointer-events: none;
}

.table-responsive {
  max-height: 50vh;
}

.table thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

.sticky-footer {
  bottom: -1px;
  position: -webkit-sticky;
  position: sticky;
  background-color: #fff;
  z-index: 1;
  background-color: white;
}
