<div>
  <mobentis-popup-header [title]="translationService.t('reasonsConfig.title')" [icon]="'/assets/images/iconos/configuracion-icon-dark.svg'"
    (close)="cerrarPopup()"></mobentis-popup-header>
</div>

<mat-dialog-content class="mat-typography py-0">
  <div class="table-responsive">
    <table class="table table-sm m-0">
      <thead>
        <tr>
          <th scope="col" class="color-primary ">{{ 'reasonsConfig.table.code' | translate }}</th>
          <th scope="col" class="color-primary ">{{ 'reasonsConfig.table.name' | translate }}</th>
          <th scope="col" class="text-center color-primary">{{ 'reasonsConfig.table.actions' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of paginatedData">
          <td>
            <input *ngIf="editingReasonId === row.id" [(ngModel)]="row.rejection_code" type="text" class="form-control form-control-sm">
            <div *ngIf="editingReasonId === row.id && showEditCodeError" class="text-danger mt-1">
              {{ 'reasonsConfig.invalidCharacters' | translate }}
            </div>
            <span *ngIf="editingReasonId !== row.id">{{ row.rejection_code }}</span>
          </td>
          <td>
            <input *ngIf="editingReasonId === row.id" [(ngModel)]="row.name" class="form-control form-control-sm">
            <div *ngIf="editingReasonId === row.id && showEditNameError" class="text-danger mt-1">
              {{ 'reasonsConfig.invalidCharacters' | translate }}
            </div>
            <span *ngIf="editingReasonId !== row.id">{{ row.name }}</span>
          </td>
          <td>
            <div class="d-flex justify-content-center gap-3">
              <mobentis-btn-icon-edit *ngIf="editingReasonId !== row.id && row.id !== undefined"
                (btnClicked)="toogleEdit(row.id)"></mobentis-btn-icon-edit>
              <i *ngIf="editingReasonId === row.id" (click)="saveChanges(row)" class="bi bi-check-lg btnSave fs-5 px-0"
                [ngbTooltip]="'reasonsConfig.save' | translate"></i>

              <mobentis-btn-icon-delete *ngIf="editingReasonId !== row.id && row.id !== undefined && canDeleteReasons"
                (btnClicked)="deleteRechazo(row.id)"></mobentis-btn-icon-delete>
              <i *ngIf="editingReasonId === row.id" (click)="cancelEdit()" class="bi bi-x-lg btnClear color-quaternary fs-5 px-0"
                [ngbTooltip]="'reasonsConfig.cancel' | translate"></i>
            </div>
          </td>
        </tr>

        <tr *ngIf="paginatedData.length === 0">
          <td colspan="3" class="text-center">{{ 'reasonsConfig.table.noData' | translate }}</td>
        </tr>

        <tr class="sticky-footer" *ngIf="canCreateReasons">
          <td>
            <input type="text" class="form-control form-control-sm" [(ngModel)]="newRejectionCode" [placeholder]="'reasonsConfig.codePlaceholder' | translate">
            <div *ngIf="showNewCodeError" class="text-danger mt-1">
              {{ 'reasonsConfig.invalidCharacters' | translate }}
            </div>
          </td>
          <td>
            <input type="text" class="form-control form-control-sm" [(ngModel)]="newRejectionName" [placeholder]="'reasonsConfig.namePlaceholder' | translate">
            <div *ngIf="showNewNameError" class="text-danger mt-1">
              {{ 'reasonsConfig.invalidCharacters' | translate }}
            </div>
          </td>
          <td class="text-center">
            <div class="d-flex justify-content-center gap-1">
              <button (click)="insertReason()"
                [ngClass]="{'btnSave': true, 'disabled-icon': !newRejectionCode || !newRejectionName}"
                [ngbTooltip]="isButtonEnabled() ? ('reasonsConfig.save' | translate) : null">
                <i class="bi bi-check-lg fs-5 px-0"></i>
              </button>

              <button (click)="clearNewRechazo()"
                [ngClass]="{'btnDelete': true, 'disabled-icon': !newRejectionCode || !newRejectionName}"
                [ngbTooltip]="isButtonEnabled() ? ('reasonsConfig.clear' | translate) : null"
                class="color-quaternary">
                <i class="bi bi-x-lg fs-5 px-0"></i>
              </button>
            </div>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
  <mobentis-pagination [totalItems]="rejectList.length" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage"
    (pageChange)="onPageChange($event)" (itemsPerPageChanged)="onItemsPerPageChanged($event)"></mobentis-pagination>
</mat-dialog-content>