<div>
    <app-popup-header [title]="'Motivos de Rechazo'" [icon]="'/assets/images/iconos/configuracion-icon-dark.svg'" (close)="cerrarPopup()"></app-popup-header>
  </div>
  
  <mat-dialog-content class="mat-typography py-0">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Nombre</th>
          <th scope="col" class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of rejectList">
          <td>
            <input *ngIf="editingReasonId === row.id" [(ngModel)]="row.rejection_code" class="form-control">
            <span *ngIf="editingReasonId !== row.id">{{ row.rejection_code }}</span>
          </td>
          <td>
            <input *ngIf="editingReasonId === row.id" [(ngModel)]="row.name" class="form-control">
            <span *ngIf="editingReasonId !== row.id">{{ row.name }}</span>
          </td>
          <td>
            <div class="d-flex justify-content-center gap-3">
              <i *ngIf="editingReasonId !== row.id && row.id !== undefined" 
                 (click)="toogleEdit(row.id)" 
                 class="bi bi-pencil-fill btnEdit" 
                 ngbTooltip="Editar"></i>
  
              <i *ngIf="editingReasonId === row.id" 
                 (click)="saveChanges(row)" 
                 class="bi bi-check-lg btnSave" 
                 ngbTooltip="Guardar"></i>
  
              <i *ngIf="editingReasonId !== row.id && row.id !== undefined" 
                 (click)="deleteRechazo(row.id)" 
                 class="bi bi-trash-fill btnDelete" 
                 ngbTooltip="Eliminar"></i>
  
              <i *ngIf="editingReasonId === row.id" 
                 (click)="cancelEdit()" 
                 class="bi bi-x-lg btnClear" 
                 ngbTooltip="Cancelar"></i>
            </div>
          </td>
        </tr>
  
        <tr *ngIf="rejectList.length === 0">
          <td colspan="3" class="text-center">No se han encontrado datos</td>
        </tr>
  
        <tr>
          <td>
            <input type="text" class="form-control" [(ngModel)]="newRejectionCode" placeholder="Código">
          </td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="newRejectionName" placeholder="Nombre">
          </td>
          <td class="text-center">
            <div class="d-flex justify-content-center gap-1">
                <button (click)="insertReason()" 
                        [ngClass]="{'btnSave': true, 'disabled-icon': !newRejectionCode || !newRejectionName}" 
                        ngbTooltip="Guardar">
                  <i class="bi bi-check-lg"></i>
                </button>
                
                <button (click)="clearNewRechazo()" 
                        [ngClass]="{'btnDelete': true, 'disabled-icon': !newRejectionCode || !newRejectionName}" 
                        ngbTooltip="Limpiar">
                  <i class="bi bi-x-lg"></i>
                </button>
              </div>
          </td>
        </tr>
      </tbody>
    </table>
    <app-pagination></app-pagination>
  </mat-dialog-content>
  