.screen {
  min-height: 100vh;
  background-color: #f3f4f6;
  padding-top: 60px;
}

.page-heading{
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 300;
}

.color-dark {
  color: #6D6D6D;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.char-count {
  font-size: 0.9rem;
  color: #666;
  margin-left: 8px;
}

.buttons-rechazos {
  background-color: #6b757d;
  color: white;
}

th {
  color: #3F51B5;
}

.custom-bold {
  font-weight: 500;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
}

.table-wrapper {
  overflow-y: auto;
  max-height: 70vh;
}

.custom-rechazado,
.custom-enproceso,
.custom-noaplica,
.custom-vendido {
  background-color: #ebebeb;
  padding: 5px 10px;
  border-radius: 10px;
}

.estado-cell {
  text-align: center;
  vertical-align: middle;
}

.estado-form-group {
  width: 100%;
  margin: 0;
}

.mat-form-field {
  margin-bottom: 0 !important; /* Elimina el margen inferior del contenedor */
}

.mat-select-trigger {
  height: 24px;
  line-height: 24px;
}

.mat-select-value {
  height: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.mat-select-arrow {
  margin-top: 0;
}

.mat-select-panel {
  margin-top: 0;
}

.mat-select {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #ffffff; /* Fondo blanco */
}

.mat-form-field-wrapper {
  padding-bottom: 0px !important; /* Elimina el espacio inferior del contenedor */
}

.mat-mdc-form-field-subscript-wrapper {
  display: none; /* Elimina el espacio inferior */
}


.option-image {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.rechazado {
  color: #FF5757;
}

.en-proceso {
  color: #3F57BC;
}

.vendido {
  color: #10a03b;
}

.no-aplica {
  color: rgb(175, 175, 175);
}

.color-accioncorrectora {
  color: #10a03b;
  cursor: pointer;
}

.color-rechazo {
  color: #FF5757;
}

.sidenav {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: auto;
}

.editable-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.editable-input {
  color: #10a03b;
  border: none;
  outline: none;
  width: 60px;
  text-align: right;
  padding-right: 5px;
}

.symbol-select {
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.no-border-select {
  border: none;
  padding: 0;
  font-size: 14px;
  color: #495057;
  cursor: pointer;
}

.large-input {
  width: 150px;
  text-align: left;
  padding: 5px;
}

.mat-column-select{
  width: 40px;
  padding:0;
}
.mat-column-estado{
  width: 70px;
  padding: 0 8px;
}
.estado-form-field{
  width: 189px;
}

.mat-column-rechazo_id{
  width: 40px;
  padding: 0 10px;
  padding-right: 0;
}

.mat-column-poblacion{
  min-width: 70px;
  padding: 0 5px;
  padding-right: 0;
}
.mat-column-producto{
  width: 150px;
  padding: 0 5px;
}

.mat-column-cliente{
  width: 150px;
  padding: 0 5px;
}
.mat-column-accion_correctora{
  width: 300px;
  padding: 0 5px;
}
.small-height-field,
.width-select-simbolo{
  width: 74px;
}
.large-height-field{
  width: 200px;
}

/* para la altura de los input */
::ng-deep table .mat-mdc-form-field-infix {
  padding: 0 !important; /* Elimina el padding */
   min-height: auto;
}
::ng-deep .mat-mdc-row {
  height: 10px !important;
}

mat-select .mat-mdc-text-field-wrapper{
  padding: 0 8px;
}
@media (max-width: 991px) {
  .screen{
    padding-top: 48px;
  }
}