.screen {
  height: 100vh;
  padding: 3px;
}

.color-dark {
  color: #6D6D6D;
}

table {

  width: 100%;
}

 
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
    
  }
  
  .buttons-rechazos {
    background-color: #3F51B5;
    color: white;
  }


.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

th {
  color: #3F51B5;
}

.custom-bold {
  font-weight: 500;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
}

.table-wrapper {
  overflow-y: auto;
  max-height: 700px;
}

.custom-rechazado {
  background-color: #ebebeb;
  padding: 5px 10px;
  border-radius: 10px;
}

.custom-enproceso {
  background-color: #ebebeb;
  padding: 5px 10px;
  border-radius: 10px;
}

.custom-noaplica {
  background-color: #ebebeb;
  padding: 5px 10px;
  border-radius: 10px;
}

.custom-vendido {
  background-color: #ebebeb;
  padding: 5px 10px;
  border-radius: 10px;
}

.estado-cell {
  text-align: center;
  vertical-align: middle;
}

.estado-select {
  width: 100px;
  text-align: center;
  padding: 2px;
  background-color: transparent;
}

.rechazado {
  color: #FF5757;
}

.en-proceso {
  color: #3F57BC;
}

.vendido {
  color: #10a03b;
}

.no-aplica {
  color: rgb(175, 175, 175);
}

.color-accioncorrectora {
  color: #10a03b;
}

.color-rechazo {
  color: #FF5757;
}

.sidenav {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: auto;
}

.editable-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.editable-input {
  color: #10a03b;
  border: none;
  outline: none;
  width: 60px;
  text-align: right;
  padding-right: 5px;
}

.symbol-select {
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  height: 100%;
  border: none;
  outline: none;
  background: none;
}

.no-border-select {
  border: none;
  padding: 0; /* Eliminar padding adicional */
  font-size: 14px;
  color: #495057;
  cursor: pointer;
}
