<div class="screen">
  <div class="d-flex flex-column gap-2 flex-xl-row justify-content-between align-items-center p-3">
    <!-- titulo y icono -->
    <div class="d-flex align-items-center justify-content-start ">
      <mat-icon class="color-dark">broken_image</mat-icon>
      <h1 class="mb-0 ps-2 color-dark page-heading">Rechazos</h1>
    </div>
    <!-- Info Rechazos -->
    <div class="">
      <app-kpi></app-kpi>
    </div>
    <!-- END Info Rechazos -->
  </div>
  <!-- TABLA -->
  <div class="m-3">
    <div class="d-flex align-items-center justify-content-between gap-5">
      <!-- buscado -->
      <div class="input-group mb-3">
        <input class="form-control border-end-0 border" type="search" placeholder="Buscar..." id="example-search-input">
        <span class="input-group-append">
          <button class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border ms-n5" type="button">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
      <!-- botones y filtros -->
      <div class="d-flex align-items-center gap-2 mb-3">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-color" (click)="exportar_rechazos()">Exportar</button>
          <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            {{ selectedOption }}
          </button>
          <ul class="dropdown-menu">
            <li><button class="dropdown-item" (click)="updateOption('Excel')">Excel</button></li>
            <li><button class="dropdown-item" (click)="updateOption('CSV')">CSV</button></li>
            <li><button class="dropdown-item" (click)="updateOption('Json')">Json</button></li>
          </ul>
        </div>
        <button class="btn btn-color d-flex justify-content-center align-items-center" (click)="verEnMapa()">
          <i class="bi bi-geo-alt-fill"></i>
        </button>
        <button class="btn btn-secondary d-flex align-items-center" data-bs-toggle="modal"
          data-bs-target="#filtroModal">
          <i class="bi bi-funnel-fill"></i>
        </button>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-hover table-sm my-0">
        <thead>
          <tr class="">
            <!-- Checkbox Column -->
            <th scope="col" class="text-center p-2 align-center">
              <div class="d-flex">
                <input type="checkbox" (change)="masterToggle()" [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()" />
              </div>
            </th>
            <!-- Estado Column -->
            <th scope="col" class="text-center">Estado</th>
            <!-- Fecha Column -->
            <th scope="col">Fecha</th>
            <!-- Población Column -->
            <th scope="col">Población</th>
            <!-- Cliente Column -->
            <th scope="col">Cliente</th>
            <!-- Subfamilia Column -->
            <th scope="col">Subfamilia</th>
            <!-- Producto Column -->
            <th scope="col">Producto</th>
            <!-- Rechazo Column -->
            <th scope="col">Rechazo</th>
            <!-- Precio Column -->
            <th scope="col" class="text-end">Precio</th>
            <!-- Promo Propia Column -->
            <th scope="col" class="text-center"></th>
            <!-- Competidor Column -->
            <th scope="col" class="text-end">Comp.</th>
            <!-- Promo Competidor Column -->
            <th scope="col" class="text-center"></th>
            <!-- Competidor Column -->
            <th scope="col">Competidor</th>
            <!-- Acción Correctora Column -->
            <th scope="col" class="text-center fondo_azul">Acción Correctora</th>
            <!-- Acción Correctora Activa Column -->
            <th scope="col" class="text-center fondo_azul"></th>
            <!-- Propuesta Agente Column -->
            <th scope="col">Propuesta Agente</th>
            <!-- Fecha Interés Column -->
            <th scope="col" class="text-success text-end">Interés</th>
            <!-- Expand Column -->
            <th scope="col" class="text-center"></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let row of dataSource">
            <tr>
              <!-- Checkbox Column -->
              <td class=" p-2">
                <div class="d-flex">
                  <input type="checkbox" (click)="$event.stopPropagation()" (change)="selection.toggle(row)"
                    [checked]="selection.isSelected(row)" />
                </div>
              </td>
              <!-- Estado Column -->
              <td class="text-center">
                <div class="d-flex align-items-center gap-1 justify-content-center">
                  <img [src]="getOptionImage(row.estado)" alt="{{ row.estado }} Image" class="option-image">
                  <select class="form-select form-select-sm select_estado" [(ngModel)]="row.estado"
                    (change)="actualizarEstados(row)">
                    <option *ngFor="let estado of estados" [value]="estado.estado">
                      {{ estado.estado }}
                    </option>
                  </select>
                </div>
              </td>
              <!-- Fecha Column -->
              <td class="">{{ row.fecha }}</td>
              <!-- Población Column -->
              <td class="">{{ row.poblacion }}</td>
              <!-- Cliente Column -->
              <td class="row_cliente">{{ row.cliente }}</td>
              <!-- Subfamilia Column -->
              <td class="">{{ row.nombre_subfamilia }}</td>
              <!-- Producto Column -->
              <td class="row_producto">
                <span [ngbTooltip]="row.producto.length > 23 ? 'tooltip' : null"
                  [ngbTooltip]="row.producto.length > 23 ? row.producto : ''">{{ row.producto }}</span>
              </td>
              <!-- Rechazo Column -->
              <td class="text-center">
                <select class="form-select form-select-sm text-danger select_rechazo" [(ngModel)]="row.tipo_rechazo"
                  [ngbTooltip]="row.tipo_rechazo">
                  <option *ngFor="let rechazo of tipos_rechazo" [value]="rechazo.tipo">{{ rechazo.tipo }}</option>
                </select>
              </td>
              <!-- Precio Column -->
              <td class="text-end row_precio_producto centrado_column ">{{ row.precio_producto }} €</td>
              <!-- Promo Propia Column -->
              <td class="text-center centrado_column">
                <i *ngIf="row.tiene_promo_propia" class="promo-icon" [ngbTooltip]="row.promo_propia">P</i>
              </td>
              <!-- Competidor Column -->
              <td class="text-end row_precio_competidor centrado_column ">{{ row.precio_competidor }} €</td>
              <!-- Promo Competidor Column -->
              <td class="text-center centrado_column">
                <i *ngIf="row.tiene_promo_competencia" class="promo-icon" [ngbTooltip]="row.promo_competencia">P</i>
              </td>
              <!-- Competidor Column -->
              <td>
                <select class="form-select form-select-sm row_select_competidor" [(ngModel)]="row.competidor"
                  [ngbTooltip]="getCompetidorNombre(row.competidor)">
                  <option *ngFor="let competidor of competidores" [value]="competidor.id">{{ competidor.nombre }}
                  </option>
                </select>
              </td>
              <!-- Acción Correctora Column -->
              <td class="fondo_accionCorrectora">
                <div class="d-flex align-items-center gap-1">
                  <!-- Campo para precio de promoción -->
                  <input type="number" class="form-control form-control-sm accion_correctora_precio text-success"
                    [(ngModel)]="row.pvp_es_promocion_precio" placeholder="0" />

                  <!-- Campo para símbolo de promoción -->
                  <select class="form-select form-select-sm accion_correctora_simbolo" [(ngModel)]="row.id_simbolo"
                    (change)="updateSymbol(row)">
                    <option *ngFor="let simbolo of simbolos" [value]="simbolo.id">
                      {{ simbolo.simbolo }}
                    </option>
                  </select>

                  <!-- Campo para acción correctora -->
                  <input type="text" class="form-control form-control-sm row_accion_correctora text-success"
                    [(ngModel)]="row.accion_correctora" maxlength="50" placeholder="Acción Correctora"
                    [ngbTooltip]="row.accion_correctora" />
                </div>
              </td>
              <!-- Acción Correctora Activada Column -->
              <td class="fondo_accionCorrectora pe-2">
                <div class="d-flex">
                  <input type="checkbox" (click)="$event.stopPropagation()" (change)="selection.toggle(row)"
                    [checked]="selection.isSelected(row)" />
                </div>
              </td>
              <!-- Propuesta Agente Column -->
              <td class="row_propuesta_agente">
                <span [ngbTooltip]="row.propuesta_agente.length > 23 ? 'tooltip' : null"
                  [ngbTooltip]="row.propuesta_agente.length > 23 ? row.propuesta_agente : ''">{{ row.propuesta_agente
                  }}</span>
              </td>
              <!-- Fecha Interés Column -->
              <td class="text-success centrado_column row_fecha_interes">{{ row.fecha_interes }}</td>
              <!-- Expand Column -->
              <td class="text-center ps-3">
                <button class="btn btn-color py-0 px-1 text-white"
                  (click)="expandedElement = (expandedElement === row ? null : row)">
                  <i class="bi" [ngClass]="expandedElement === row ? 'bi-chevron-up' : 'bi-three-dots'"></i>
                </button>
              </td>
            </tr>

            <!-- Row Expanded Detail -->
            <ng-container *ngIf="expandedElement === row">
              <tr>
                <td [attr.colspan]="displayedColumns.length">
                  <div class="p-2">
                    <div class="row mb-2 w-100">
                      <div class="col">
                        <strong>PVP:</strong> {{ row.precio_producto }} €
                      </div>
                      <div class="col">
                        <strong>Agente:</strong> {{ row.agente }}
                      </div>
                      <div class="col">
                        <strong>Promoción Propia:</strong> {{ row.promo_propia }}
                      </div>
                      <div class="col">
                        <strong>Precio Competidor:</strong> {{ row.precio_competidor }} €
                      </div>
                      <div class="col">
                        <strong>Promoción Competidor:</strong> {{ row.promo_competencia }}
                      </div>
                      <div class="col">
                        <strong>Última acción correctora:</strong> {{ row.fecha_ultima_accion }} €
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <strong>Notas:</strong> {{ row.notas }}
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>
    </div>
    <!-- Paginador -->

  </div>

  <!-- END TABLA -->
  <!-- menu derecho -->
  <!-- Filtros (Menú derecho) -->
  <div class="modal fade" tabindex="-1" id="filtroModal" aria-labelledby="filtroModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-slide-right">
      <div class="modal-content">
        <div class="modal-header d-flex align-items-center gap-2">
          <i class="bi bi-funnel-fill mb-3 fs-4"></i>
          <h2 id="drawerLabel">Filtro de Rechazos</h2>
        </div>
        <div class="modal-body">
          <form [formGroup]="form" (ngSubmit)="applyFilter()" class="d-flex flex-column gap-3">
            <div class="d-flex flex-column gap-3">
              <div class="d-flex w-100 gap-3">
                <button class="btn btn-color" type="submit">Filtrar</button>
                <button type="button" class="btn btn-secondary" (click)="filtroReset()">Limpiar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas">Cancelar</button>
              </div>
              <div class="mb-2 d-flex flex-column gap-3">
                <div class="form-group">
                  <label for="estado">Estado</label>
                  <select id="estado" class="form-select" formControlName="EstadoFilterControl">
                    <option value="">- Todos -</option>
                    <option value="Rechazado">Rechazado</option>
                    <option value="En Proceso">En Proceso</option>
                    <option value="Vendido">Vendido</option>
                    <option value="No aplica">No aplica</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="poblacion">Población</label>
                  <input id="poblacion" class="form-control" formControlName="PoblacionFilterControl" />
                </div>
                <div class="form-group">
                  <label for="provincia">Provincia</label>
                  <input id="provincia" class="form-control" formControlName="ProvinciaFilterControl" />
                </div>
                <div class="form-group">
                  <label for="producto">Producto</label>
                  <input id="producto" class="form-control" formControlName="ProductoFilterControl" />
                </div>
                <div class="form-group">
                  <label for="familia">Familia</label>
                  <input id="familia" class="form-control" formControlName="FamiliaFilterControl" />
                </div>
                <div class="form-group">
                  <label for="subfamilia">Subfamilia</label>
                  <input id="subfamilia" class="form-control" formControlName="SubFamiliaFilterControl" />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>