.screen {
  min-height: 100vh;
  background-color: #f3f4f6;
  padding-top: 60px;
}

.page-heading{
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 300;
}

.color-dark {
  color: #6D6D6D;
}

table {
  width: 100%;

}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.char-count {
  font-size: 0.9rem;
  color: #666;
  margin-left: 8px;
}

.buttons-rechazos {
  background-color: #6b757d;
  color: white;
}

th {
  color: #3F51B5;
}

.btn-color{
  background-color: #3F51B5;
  color: white;
}

.title-expandend-menu{
  color: #3F51B5;
}
.custom-bold {
  font-weight: 500;
}
.text-muted{
  font-size: 12px !important;
}

.text-rech{
  color: #87cefa;
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

.table-wrapper {
  max-height: 70vh;
  overflow: auto;
}



.sticky-end {
  position: sticky;
  right: 0;
  background-color: white;
  z-index: 10;
}


.custom-rechazado,
.custom-enproceso,
.custom-noaplica,
.custom-vendido {
  background-color: #ebebeb;
  padding: 5px 10px;
  border-radius: 10px;
}

.estado-cell {
  text-align: center;
  vertical-align: middle;
}

.estado-form-group {
  width: 100%;
  margin: 0;
}

.mat-form-field {
  margin-bottom: 0 !important; /* Elimina el margen inferior del contenedor */
}

.mat-select-trigger {
  height: 24px;
  line-height: 24px;
}

.mat-select-value {
  height: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.mat-select-arrow {
  margin-top: 0;
}

.mat-select-panel {
  margin-top: 0;
}

.mat-select {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #ffffff; /* Fondo blanco */
}

.mat-form-field-wrapper {
  padding-bottom: 0px !important; /* Elimina el espacio inferior del contenedor */
}

.mat-mdc-form-field-subscript-wrapper {
  display: none; /* Elimina el espacio inferior */
}


.option-image {
  width: 20px; /* Ajusta según el tamaño deseado */
  height: auto;
  vertical-align: middle; /* Alinea verticalmente con el texto */
  margin: 8px; /* Espacio entre la imagen y el texto */
}

.rechazado {
  color: #FF5757;
}

.en-proceso {
  color: #3F57BC;
}

.vendido {
  color: #10a03b;
}

.no-aplica {
  color: rgb(175, 175, 175);
}

.color-accioncorrectora {
  color: #10a03b;
  cursor: pointer;
}

.color-rechazo {
  color: #FF5757;
}

.sidenav {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: auto;
}




/* movil */
@media (max-width: 991px) {
  .screen{
    padding-top: 48px;
  }
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.mat-column-producto {
  min-width: 300px;
  padding: 0;
}

.mat-column-cliente {
  min-width: 300px;
  padding: 0;
}

.mat-column-accion_correctora{
  min-width: 300px;
  padding: 0;
}

.mat-column-poblacion {
  min-width: 140px;
  padding: 0;
}

.mat-column-nombre_subfamilia {
  min-width: 100px;
  padding: 0;
}
.mat-column-propuesta_agente {
  min-width: 250px;
}
.mat-column-promo_propia, .mat-column-promo_competidor{
  max-width: 24px;
  padding: 0;
}

.mat-column-expand{
  max-width: 48px;
  padding: 0;
}

.promo-icon {
  font-size: 14px;
  font-weight: bold;
  color: #4CAF50;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
 
}

/* Contenedor expandible */
.expandable-row {
  
  width: calc(100% - 20px); /* Ajusta el ancho para el margen derecho */
  background: #fafafa;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}


/* css de tabla con boostrap */
.text-center {
  text-align: center;
}

.icono-svg{
  color: #5c5c5c;
}
.accion_correctora_precio{
  width: 52px;
}

.accion_correctora_simbolo{
  width: 65px;
}
table{
  font-size: 12px;
}

.select_estado{
  min-width: 120px;
}
.row_cliente{
  min-width: 160px;
}
.row_producto{
  min-width: 160px;
}
.select_rechazo{
  width: 115px;
}
.row_precio_producto, .row_precio_competidor{
  min-width: 60px;
}

.row_select_competidor{
  width: 120px;
}

.row_accion_correctora{
  min-width: 160px;
}
.row_propuesta_agente{
  min-width: 180px;
}
.row_fecha_interes{
  min-width: 85px;
  text-align: end;
}
.centrado_column{
  padding-top: 10px;
  padding-bottom: 10px;
}

.table-responsive {
  max-height: 600px; /* Ajusta según sea necesario */
  max-width: 100%; /* Asegura que el contenedor no exceda el ancho de su contenedor padre */
  margin: 0 auto; /* Centra la tabla en el contenedor */
}

.table thead th {
  position: -webkit-sticky; /* Para Safari */
  position: sticky;
  top: 0; /* Fija el encabezado en la parte superior */
  background-color: #fff; /* Asegúrate de que el fondo sea blanco o del color que desees */
  z-index: 1; /* Asegúrate de que esté sobre el contenido de la tabla */
}

/* Estilo para la columna fija de los checkboxes */
.table-responsive table thead th:first-child,
.table-responsive table tbody td:first-child {
  position: sticky;
  left: 0;
  z-index: 2; /* Asegura que el encabezado esté sobre el contenido */
  background-color: white; /* Mantiene el fondo blanco para la columna fija */
}

/* Estilo para la columna fija de expand */
.table-responsive table thead th:last-child,
.table-responsive table tbody td:last-child {
  position: sticky;
  right: 0;
  z-index: 2; /* Asegura que el encabezado esté sobre el contenido */
  background-color: white; /* Mantiene el fondo blanco para la columna fija */
}

/* Ajustes adicionales para las celdas de datos */
.table-responsive table tbody td:first-child {
  z-index: 1; /* Asegura que el contenido esté debajo del encabezado */
}

.table-responsive table thead th:first-child {
  z-index: 3; /* Asegura que el encabezado esté encima del contenido */
}

.table-responsive table tbody td:last-child {
  z-index: 0; /* Asegura que el contenido esté debajo del encabezado */
}

.table-responsive table thead th:last-child {
  z-index: 3; /* Asegura que el encabezado esté encima del contenido */
}

.form-select-sm{
  font-size: 12px;
}
.form-control-sm{
  font-size: 12px;
}
.modal-header {
  border-bottom: none;
  padding-bottom: 0;
}
.modal-body{
  padding-top: 0;
}
.modal-content{
  height: 100vh;
  padding: 8px;
}
.modal-dialog-slide-right {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  height: 100%;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.modal.fade .modal-dialog-slide-right {
  transform: translateX(0);
}