<div class="container background-light-gray px-4">
    <h2 class="m-0">Generales</h2>
    
    <div class="row">
        <div class="col-lg-6 ">
            <h3 class="m-0">Información</h3>
            <hr class="mt-0 mx-0 mb-2">
            <div class="row mb-3 rounded w-100 mx-0">
                <div class="rounded bg-content-ficha-client p-1 ">
                    <div class="col-12">
                        <mobentis-etiqueta-valor [etiqueta]="'Código'" [valor]=" cliente?.customer_ERP_id "></mobentis-etiqueta-valor>
                    </div>
                    <div class="col-12">
                        <mobentis-etiqueta-valor [etiqueta]="'Nombre'" [valor]=" cliente?.name"></mobentis-etiqueta-valor>
                    </div>
                    <div class="col-12">
                        <mobentis-etiqueta-valor [etiqueta]="'CIF'" [valor]=" cliente?.cif"></mobentis-etiqueta-valor>
                    </div>
                    <div class="col-12">
                        <mobentis-etiqueta-valor [etiqueta]="'Nombre fiscal'" [valor]=" cliente?.tax_name "></mobentis-etiqueta-valor>
                    </div>
                </div>
            </div>
            <h3 class="m-0">Dirección:</h3>
            <hr class="mt-0 mx-0 mb-2">
            <div class="row mb-3 rounded bg-content-ficha-client w-100 mx-0">
                <div class="col-12">
                    <mobentis-etiqueta-valor [etiqueta]="'País'" [valor]="'ESPAÑA' "></mobentis-etiqueta-valor>
                </div>
                <div class="col-12">
                    <mobentis-etiqueta-valor [etiqueta]="'Dirección'" [valor]=" cliente?.address "></mobentis-etiqueta-valor>
                </div>
                <div class="col-12">
                    <mobentis-etiqueta-valor [etiqueta]="'CP'" [valor]="  cliente?.pc "></mobentis-etiqueta-valor>
                </div>
                <div class="col-12">
                    <mobentis-etiqueta-valor [etiqueta]="'Población'" [valor]=" cliente?.city "></mobentis-etiqueta-valor>
                </div>
                <div class="col-12">
                    <mobentis-etiqueta-valor [etiqueta]="'Provincia'" [valor]=" cliente?.province "></mobentis-etiqueta-valor>
                </div>
            </div>
            <h3 class="m-0">Segementación:</h3>
            <hr class="mt-0 mx-0 mb-2">
            <div class="row rounded bg-content-ficha-client w-100 mx-0">
                <div *ngIf="cliente?.nsegmentacion_1" class="col-12">
                    <mobentis-etiqueta-valor [etiqueta]="cliente?.nsegmentacion_1"
                        [valor]=" cliente?.descripcion_s1 "></mobentis-etiqueta-valor>
                </div>
                <div *ngIf="cliente?.nsegmentacion_3" class="col-12">
                    <mobentis-etiqueta-valor [etiqueta]="cliente?.nsegmentacion_3"
                        [valor]=" cliente?.descripcion_s3 "></mobentis-etiqueta-valor>
                </div>
                <div *ngIf="cliente?.nsegmentacion_2" class="col-12">
                    <mobentis-etiqueta-valor [etiqueta]="cliente?.nsegmentacion_2"
                        [valor]=" cliente?.descripcion_s2 "></mobentis-etiqueta-valor>
                </div>
            </div>
        </div>
        <div class="col-lg-6 px-4">
            <h3 class="m-0">Contacto:</h3>
            <hr class="mt-0 mx-0 mb-2">
            <div class="row mb-3 rounded bg-content-ficha-client w-100 mx-0">
                <div class="col-12">
                    <mobentis-etiqueta-valor [etiqueta]="'Tel. 1'" [valor]=" cliente?.phone_1 "></mobentis-etiqueta-valor>
                </div>
                <div class="col-12">
                    <mobentis-etiqueta-valor [etiqueta]="'Tel. 2'" [valor]=" cliente?.phone_2 "></mobentis-etiqueta-valor>
                </div>
                <div class="col-12">
                    <mobentis-etiqueta-valor [etiqueta]="'Fax'" [valor]=" 'Sin especificar' "></mobentis-etiqueta-valor>
                </div>
                <div class="col-12">
                    <mobentis-etiqueta-valor [etiqueta]="'Email'" [valor]=" cliente?.email "></mobentis-etiqueta-valor>
                </div>
            </div>
            <h3 class="m-0">Otros:</h3>
            <hr class="mt-0 mx-0 mb-2">
            <div class="row mb-3 rounded bg-content-ficha-client w-100 mx-0">
                <div class="col-12">
                    <mobentis-etiqueta-valor [etiqueta]="'Web'" [valor]="'Sin especificar'"></mobentis-etiqueta-valor>
                </div>
                <div class="col-12">
                    <mobentis-etiqueta-valor [etiqueta]="'Agencia'" [valor]="'Sin especificar'"></mobentis-etiqueta-valor>
                    <div class="form-check mt-1">
                        <input class="form-check-input" type="checkbox" id="potencialCheck" disabled>
                        <label class="form-check-label" for="potencialCheck">
                            Potencial
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- 
                  <div class="col mb-3">
                    <mobentis-etiqueta-valor [etiqueta]="'Latitud'" [valor]="cliente?.latitude "></mobentis-etiqueta-valor>
                  </div>
                  <div class="col mb-3">
                    <mobentis-etiqueta-valor [etiqueta]="'Longitud'" [valor]=" cliente?.longitude "></mobentis-etiqueta-valor>
                  </div>
                  
                <div class="col mb-3">
                    <button ngbTooltip="Ver en Mapa" class="btn btn-sm btn-outline-secondary me-2 mb-2"
                        (click)="verEnMapa()">
                        <mat-icon>location_on</mat-icon>
                    </button>
                </div>
                -->
            </div>
        </div>
    </div>
</div>
