<h5>Generales</h5>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-3 mb-3">
                <app-etiqueta-valor [etiqueta]="'Código'" [valor]=" cliente?.customer_ERP_id "></app-etiqueta-valor>
            </div>
            <div class="col mb-3">
                <app-etiqueta-valor [etiqueta]="'Nombre'" [valor]=" cliente?.name"></app-etiqueta-valor>
            </div>
        </div>
        <div class="row">
            <div class="col-3 mb-3">
                <app-etiqueta-valor [etiqueta]="'CIF'" [valor]=" cliente?.cif"></app-etiqueta-valor>
            </div>
            <div class="col mb-3">
                <app-etiqueta-valor [etiqueta]="'Nombre fiscal'" [valor]=" cliente?.tax_name "></app-etiqueta-valor>

            </div>
        </div>
        <div class="row">
            <div class="col-3 mb-3">
                <app-etiqueta-valor [etiqueta]="'Código'" [valor]="'ESPAÑA' "></app-etiqueta-valor>
            </div>
            <div class="col mb-3">
                <app-etiqueta-valor [etiqueta]="'Dirección'" [valor]=" cliente?.address "></app-etiqueta-valor>
            </div>
        </div>
        <div class="row">
            <div class="col-2 mb-3">
                <app-etiqueta-valor [etiqueta]="'CP'" [valor]="  cliente?.pc "></app-etiqueta-valor>
            </div>
            <div class="col mb-3">
                <app-etiqueta-valor [etiqueta]="'Población'" [valor]=" cliente?.city "></app-etiqueta-valor>
            </div>
            <div class="col mb-3">
                <app-etiqueta-valor [etiqueta]="'Provincia'" [valor]=" cliente?.province "></app-etiqueta-valor>
            </div>
        </div>
        <div *ngIf="cliente?.nsegmentacion_1" class="mb-3">
            <app-etiqueta-valor [etiqueta]="cliente?.nsegmentacion_1"
                [valor]=" cliente?.descripcion_s1 "></app-etiqueta-valor>
        </div>
        <div *ngIf="cliente?.nsegmentacion_2" class="mb-3">
            <app-etiqueta-valor [etiqueta]="cliente?.nsegmentacion_2"
                [valor]=" cliente?.descripcion_s2 "></app-etiqueta-valor>
        </div>
        <div *ngIf="cliente?.nsegmentacion_3" class="mb-3">
            <app-etiqueta-valor [etiqueta]="cliente?.nsegmentacion_3"
                [valor]=" cliente?.descripcion_s3 "></app-etiqueta-valor>

        </div>
    </div>
    <div class="col-md-6">
        <!-- 
            <div class="mb-3">
              <app-etiqueta-valor [etiqueta]="'Contacto'" [valor]=" 'Sin especificar' "></app-etiqueta-valor>
            </div>
            -->
        <div class="row">
            <div class="col mb-3">
                <app-etiqueta-valor [etiqueta]="'Tel. 1'" [valor]=" cliente?.phone_1 "></app-etiqueta-valor>
            </div>
            <div class="col mb-3">
                <app-etiqueta-valor [etiqueta]="'Tel. 2'" [valor]=" cliente?.phone_2 "></app-etiqueta-valor>
            </div>
            <div class="col mb-3">
                <app-etiqueta-valor [etiqueta]="'Fax'" [valor]=" 'Sin especificar' "></app-etiqueta-valor>
            </div>
        </div>
        <div class="mb-3">
            <app-etiqueta-valor [etiqueta]="'Email'" [valor]=" cliente?.email "></app-etiqueta-valor>
        </div>
        <div class="mb-3">
            <app-etiqueta-valor [etiqueta]="'Web'" [valor]="'Sin especificar'"></app-etiqueta-valor>
        </div>
        <div class="mb-3">
            <app-etiqueta-valor [etiqueta]="'Agencia'" [valor]="'Sin especificar'"></app-etiqueta-valor>
        </div>
        <div class="mb-3">
            <app-etiqueta-valor [etiqueta]="'Ruta'" [valor]="'Sin especificar'"></app-etiqueta-valor>
        </div>
        <div class="row">
            <!-- 
              <div class="col mb-3">
                <app-etiqueta-valor [etiqueta]="'Latitud'" [valor]="cliente?.latitude "></app-etiqueta-valor>
              </div>
              <div class="col mb-3">
                <app-etiqueta-valor [etiqueta]="'Longitud'" [valor]=" cliente?.longitude "></app-etiqueta-valor>
              </div>
              
            <div class="col mb-3">
                <button ngbTooltip="Ver en Mapa" class="btn btn-sm btn-outline-secondary me-2 mb-2"
                    (click)="verEnMapa()">
                    <mat-icon>location_on</mat-icon>
                </button>
            </div>
            -->
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="potencialCheck">
            <label class="form-check-label" for="potencialCheck">
                Potencial
            </label>
        </div>
    </div>
</div>