:host {
    display: contents;
}

.numeroKPI {
    font-weight: 900;
    font-size: larger;
}

.kpis {
    border-radius: 1em;
}

span.font-dashboard {
    font-size: 12px;
    color: #6D6D6D;
}

.rechazos {
    color: #ff33d6;
}

.pendientes {
    color: #ff9500;
}

.oportunidades {
    color: #3f51b5;
}

.smaller{
    font-size: smaller;
}

.vertical-text {
    writing-mode: vertical-rl;
    font-weight: bold;
    transform: rotate(180deg);
    font-size: small;
}
.horizontal-text{
    font-weight: bold;
    font-size: small;
}
.padding-rechazos-kpi{
    padding-top: 19px;
}