:host {
    display: contents;
}

.numeroKPI {
    font-weight: 900;
    font-size: larger;
}

.kpis {
    border-radius: 1em;
}

span.font-dashboard {
    font-size: 12px;
    color: #6D6D6D;
}

.rechazos {

    color: #3F51B5;
}

.pendientes {
    color: #ff76c8;
}

.oportunidades {
    color: #ff9500;
}

.smaller{
    font-size: smaller;
}