<h3 mat-dialog-title>
    Actualizar foto de perfil
  </h3>
  <mat-dialog-content class="mat-typography">
    <div class="bg-light p-3">
      <div class="d-flex flex-wrap gap-2">
        <div>
          <label>
            <input type="file" accept="image/*" (change)="selectFile($event)" />
          </label>
        </div>
  
        <div>
          <button class="btn btn-sm" style="background-color: rgb(63, 81, 181); color: white" [disabled]="!selectedFiles" (click)="upload()">
            Subir
          </button>
  
        </div>
        <img [src]="preview" class="preview" />
      </div>
  
      <div *ngIf="(currentFile && progress) || message" class="alert alert-light alert-dismissible fade show"
        role="alert">
        <div *ngIf="currentFile && progress" class="progress my-3">
          <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{ progress }}"
            aria-valuemin="0" aria-valuemax="100" style="background-color: rgb(63, 81, 181) !important"
            [ngStyle]="{ width: progress + '%' }">
            {{ progress }}%
          </div>
        </div>
        <div *ngIf="message">
          <h3 class="message">{{ message }}</h3>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="close()"></button>
      </div>
    </div>
  </mat-dialog-content>
  
  <mat-dialog-actions class="d-flex justify-content-end gap-2">
    <button mat-raised-button color="light" type="submit" (click)="cancelar()" cdkFocusInitial>Aceptar</button>
    <button mat-raised-button color="light" type="button" (click)="cancelar()" mat-button>Cancelar</button>
  </mat-dialog-actions>