.preview {
    max-width: 100px;
  }
  
  .imgContainer {
    float: right;
  }
  
  .message {
    font: size 5px;
  }
  
  .alert {
    width: 100%;
    font: size 8px
  }
  
  .btn {
    width: 100px;
    vertical-align: top;
  }