<div class="container mt-4 background-light-gray">
    <h2>Direcciones</h2>
    <div *ngIf="cargando" class="d-flex justify-content-center mt-5">
        <div class="spinner-border text-danger" role="status">
            <span class="visually-hidden">Cargando...</span>
        </div>
    </div>
    <div *ngIf="!cargando">
        <div *ngIf="adressesList.length > 0; else noData" class="list-group">
            <div class="list-group-item" *ngFor="let adress of adressesList">
                <div class="row align-items-center">
                    <div class="col-md-1 text-center">
                        <img [src]="'assets/images/user.png'" class="rounded-circle" alt="Imagen de contacto">
                    </div>
                    <div class="col-md-3">
                        <p class="mb-1">{{ adress.name }}</p>
                    </div>
                    <div class="col-md-2">
                        <p class="mb-0">{{ adress.phone_1 }}</p>
                    </div>
                    <div class="col-md-2">
                        <p class="mb-0">{{ adress.phone_2 }}</p>
                    </div>
                    <div class="col-md-3">
                        <p class="mb-0">{{ adress.email }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #noData>
        <p>No hay datos para mostrar</p>
    </ng-template>
</div>