<div>
    <!-- boton de filtros aplicados o limpiar -->
    <div class="d-flex gap-2 align-items-center">
        <div class="d-flex flex-wrap flex-md-nowrap gap-2 align-items-center">
            <!-- Botón para cada filtro aplicado -->
            <button class="d-flex m-0 btn btn-outline-primary btn-sm align-items-center"
                *ngFor="let filtro of filtrosAplicados" (click)="removeFilter(filtro)">
                <div class="d-flex align-items-center" *ngIf="filtro.tipo === 'search' ">
                    <p class="m-0">{{ filtro.nombre }}: {{ filtro.valor || 'Vacío' }}</p>
                    <i class="ps-2 bi bi-x-circle-fill"></i>
                </div>
                <div class="d-flex align-items-center" *ngIf="filtro.tipo === 'date' ">
                    <p class="m-0">
                        {{ filtro.nombre }}:
                        {{ formatDateToDisplay(filtro.valor.startDate, filtro.valor.endDate) || 'Vacío' }}
                    </p>
                    <i class="ps-2 bi bi-x-circle-fill"></i>
                </div>
                <div class="d-flex align-items-center" *ngIf="filtro.tipo === 'multi-select'">
                    <p class="m-0">{{ filtro.nombre }}: {{ getMultiSelectDisplay(filtro.valor) }}</p>
                    <i class="ps-2 bi bi-x-circle-fill"></i>
                </div>
            </button>
            <!-- Botón "Limpiar" solo si hay filtros aplicados -->
            <button *ngIf="filtrosAplicados.length > 0" class="btn btn-outline-primary btn-sm" (click)="filtroReset()"
                ngbTooltip="Limpiar filtros">
                <i class="bi bi-x-circle-fill"></i>
            </button>
            <!-- Botón "Guardar" -->
            <button *ngIf="filtrosAplicados.length > 0" class="btn btn-outline-success btn-sm"
                (click)="mostrarInputParaGuardar()" ngbTooltip="Guardar filtro como plantilla">
                <i class="bi bi-bookmark-plus-fill"></i>
            </button>

            <!-- Modal para el input del nombre del filtro guardado -->
            <div class="modal fade" id="nombreFiltroModal" tabindex="-1" aria-labelledby="nombreFiltroModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered custom-modal">
                    <div class="modal-content">
                        <mobentis-popup-header [title]=" 'Guardar filtro como plantilla'" [icon]="'bookmark-plus-fill'"
                            [isBootstrapIcon]="true" (close)=" onClose()"></mobentis-popup-header>
                        <div class="modal-body">
                            <div>
                                <div class="bordes-redondeados background-light-gray p-2">
                                    <input [(ngModel)]="nombreFiltroGuardado" class="form-control" type="text"
                                        placeholder="Nombre del filtro" />
                                </div>
                                <div class="text-end">
                                    <button class="btn btn-primary btn-sm mt-2" (click)="guardarFiltros()"
                                        data-bs-dismiss="modal">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-group" #dropdownWrapper>
                <a type="button" class="dropdown-toggle fw-semibold text-decoration-none color-secondary text-center"
                    data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside" id="dropdownMenuButton">+
                    Filtros</a>
                <ul class="dropdown-menu">
                    <!-- Selección de filtros guardados -->
                    <div *ngIf="filtrosGuardados.length > 0">
                        <li class="dropend">
                            <a class="dropdown-item dropdown-toggle cursor" data-bs-toggle="dropdown" aria-expanded="false">
                                Filtros guardados
                            </a>
                            <ul class="dropdown-menu">
                                <li *ngFor="let filtroGuardado of filtrosGuardados" class="cursor">
                                    <div class="d-flex justify-content-between p-1">
                                        <a class="dropdown-item " (click)="seleccionarFiltrosGuardados(filtroGuardado)">
                                            {{ filtroGuardado.nombre }}
                                        </a>
                                        <button class="btn btn-outline-quaternary btn-sm ms-2"
                                            (click)="eliminarFiltroGuardado(filtroGuardado)">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <hr class="my-1"/>
                    </div>
                    <div *ngFor="let filter of filters">
                        <mobentis-date-filter *ngIf="filter.type === 'date'" [title]="filter.title" [id]="filter.id"
                            (dateSelection)="handleFilterChange(filter.id, $event)"></mobentis-date-filter>
    
                        <mobentis-search-filter *ngIf="filter.type === 'search'" [title]="filter.title" [id]="filter.id"
                            (searchChange)="handleFilterChange(filter.id, $event)"></mobentis-search-filter>
    
                        <mobentis-multi-select-filter *ngIf="filter.type === 'multi-select'" [title]="filter.title"
                            [endpoint]="filter.optionsEndpoint" [id]="filter.id"
                            (selectionChange)="handleFilterChange(filter.id, $event)"></mobentis-multi-select-filter>
    
                        <mobentis-range-filter *ngIf="filter.type === 'range'" [id]="filter.id"
                            (rangeSelected)="handleFilterChange(filter.id, $event)"></mobentis-range-filter>
                    </div>
                </ul>
            </div>
        </div>
        
    </div>
</div>