<div>
    <!-- boton de filtros aplicados o limpiar -->
    <div class="d-flex gap-2 align-items-center">
        <div  class="d-flex gap-2 align-items-center">
            <!-- Botón para cada filtro aplicado -->
            <button class="d-flex m-0 btn btn-outline-primary btn-sm align-items-center"
                *ngFor="let filtro of filtrosAplicados" (click)="removeFilter(filtro)">
                <div class="d-flex align-items-center" *ngIf="filtro.tipo === 'search' ">
                    <p class="m-0">{{ filtro.nombre }}: {{ filtro.valor || 'Vacío' }}</p>
                    <i class="ps-2 bi bi-x-circle-fill"></i>
                </div>
                <div class="d-flex align-items-center" *ngIf="filtro.tipo === 'date' ">
                    <p class="m-0">
                        {{ filtro.nombre }}: 
                        {{ formatDateToDisplay(filtro.valor.startDate, filtro.valor.endDate) || 'Vacío' }}
                      </p>
                    <i class="ps-2 bi bi-x-circle-fill"></i>
                </div>
                <div class="d-flex align-items-center" *ngIf="filtro.tipo === 'multi-select'">
                    <p class="m-0">{{ filtro.nombre }}: {{ getMultiSelectDisplay(filtro.valor) }}</p>
                    <i class="ps-2 bi bi-x-circle-fill"></i>
                </div>
            </button>
            <!-- Botón "Limpiar" solo si hay filtros aplicados -->
            <button *ngIf="filtrosAplicados.length > 0" class="btn btn-outline-primary btn-sm" (click)="filtroReset()"  ngbTooltip="Limpiar filtros">
                <i class="bi bi-trash-fill"></i>
            </button>
            <!-- Botón "Guardar" -->
            <button *ngIf="filtrosAplicados.length > 0" class="btn btn-outline-success btn-sm"
                (click)="mostrarInputParaGuardar()" ngbTooltip="Guardar filtro como plantilla">
                <i class="bi bi-save"></i>
            </button>

            <!-- Modal para el input del nombre del filtro guardado -->
            <div class="modal fade" id="nombreFiltroModal" tabindex="-1" aria-labelledby="nombreFiltroModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered custom-modal">
                    <div class="modal-content">
                        <app-popup-header [title]=" 'Guardar filtro como plantilla'" [icon]="'save'"[isBootstrapIcon]="true"  (close)=" onClose()"></app-popup-header>
                        <div class="modal-body">
                            <input [(ngModel)]="nombreFiltroGuardado" class="form-control"
                                placeholder="Nombre del filtro" />
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary btn-sm" (click)="guardarFiltros()"
                                data-bs-dismiss="modal">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-group" #dropdownWrapper>
            <a type="button" class="dropdown-toggle fw-semibold text-decoration-none color-secondary"
                data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside" id="dropdownMenuButton">+
                Filtros</a>
            <ul class="dropdown-menu">
                <!-- Selección de filtros guardados -->
                <div *ngIf="filtrosGuardados.length > 0">
                    <li class="dropend">
                        <a class="dropdown-item dropdown-toggle cursor" data-bs-toggle="dropdown" aria-expanded="false">
                            Filtros guardados
                        </a>
                        <ul class="dropdown-menu">
                            <li *ngFor="let filtroGuardado of filtrosGuardados" class="cursor">
                                <div class="d-flex align-items-center justify-content-between">
                                    <a class="dropdown-item " (click)="seleccionarFiltrosGuardados(filtroGuardado)">
                                        {{ filtroGuardado.nombre }}
                                    </a>
                                    <button class="btn btn-outline-danger btn-sm ms-2"
                                        (click)="eliminarFiltroGuardado(filtroGuardado)">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </li>
                </div>
                <div *ngFor="let filter of filters">
                    <app-date-filter  *ngIf="filter.type === 'date'" [id]="filter.id"
                        (dateSelection)="handleFilterChange(filter.id, $event)"></app-date-filter>

                    <app-search-filter *ngIf="filter.type === 'search'" [title]="filter.title" [id]="filter.id"
                        (searchChange)="handleFilterChange(filter.id, $event)"></app-search-filter>

                    <app-multi-select-filter *ngIf="filter.type === 'multi-select'" [title]="filter.title"
                        [endpoint]="filter.optionsEndpoint" [id]="filter.id"
                        (selectionChange)="handleFilterChange(filter.id, $event)"></app-multi-select-filter>

                    <app-range-filter *ngIf="filter.type === 'range'" [id]="filter.id"
                        (rangeSelected)="handleFilterChange(filter.id, $event)"></app-range-filter>
                </div>
            </ul>
        </div>
    </div>
</div>