@import "src/styles.scss";

.custom-modal {
    max-width: 400px;
    width: 100%;
}
.bordes-redondeados{
    border-radius: 0.25rem; 
}
::ng-deep ngb-datepicker.dropdown-menu{
    transform: translate(-10px, 33px) !important;
}