.screen {
  min-height: 100vh;
  background-color: #f3f4f6;
  padding-top: 60px;
}

.contenedor-tabla {
  overflow-x: auto;
  overflow-y: auto;
  width: 100%;
  height: 85vh;
}

table {
  width: 100%;
  table-layout: fixed;
}

.botones {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}

[class*="mat-column-"] {
  width: 180px;
}

td,
th {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.rojo {
  background-color: red;
}

.sin-bordes {
  box-sizing: border-box;
  padding: 0;
  margin: 3px;
  color: gray;
}
