<div class="background-light-gray screen">
  <input id="boton" class="d-none" type="file" accept=".xlsx, .csv, .xls" (change)="handleFileInputChange($event)">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <div class="d-flex align-items-center">
      <!-- Botón para volver -->
      <button class="btn btn-link" (click)="volverAConfig()">
        <i class="bi bi-arrow-left dadrk-gray"></i>
      </button>
      <h2 *ngIf="selectedSheet" class="m-0 ps-3">{{ selectedSheet.name }} -</h2>
      <!-- Contenedor para el selector y el icono -->
      <div class="d-flex align-items-center ps-1">
        <!-- Selector de tabla -->
        <select class="form-select form-select-sm" [(ngModel)]="tablaActiva" (change)="cambiarTablaCabecera()">
          <option *ngFor="let tabla of tablasMobentis; let i = index" [value]="i">
            {{ tabla }}
          </option>
        </select>
        <!-- Icono de información con tooltip -->
        <i class="bi bi-info-circle ms-2"
          ngbTooltip="Selecciona el tipo de dato que contiene el archivo seleccionado y que deseas importar"></i>
      </div>
      <!-- Botón para seleccionar archivo -->
      <button class="btn btn-sm btn-primary ms-3" (click)="abrirInput()">Seleccionar archivo</button>
    </div>

    <!-- Botón de importación -->
    <button class="btn  btn-sm btn-primary" [disabled]="!selectedSheet" (click)="importar()">Importar
      Selección</button>
  </div>

  <!-- Tabla de datos seleccionados -->
  <div *ngIf="selectedSheet" class="contenedor-tabla">
    <!-- Tabla de "Cabeceras" -->
    <table class="table table-bordered mb-0">
      <thead class="sticky-header-top">
        <tr>
          <th *ngFor="let emparejamientoDeCampo of listaDeEmparejamientoDeCampos" class="p-1">
            <select class="form-select w-100" [(ngModel)]="emparejamientoDeCampo.destino"
              (change)="borrarSeleccionesSimilares(emparejamientoDeCampo)">
              <option *ngFor="let campo of camposTablaSeleccionada" [value]="campo">{{ campo }}</option>
            </select>
          </th>
        </tr>
      </thead>
    </table>
    <!-- Tabla de vista previa de datos -->
    <table class="table table-bordered mt-0">
      <thead class="sticky-header">
        <tr>
          <th *ngFor="let columnName of getColumnNames()" [title]="columnName.length > 18 ? columnName : ''">
            {{ columnName }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of selectedSheet.sheetName">
          <td *ngFor="let columnName of getColumnNames()"> {{ row[columnName] }} </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Botones para cada hoja del Excel -->
  <div class="d-flex gap-2 p-1" *ngIf="ExcelData.length > 1">
    <div *ngFor="let sheet of ExcelData">
      <button class="btn btn-sm btn-outline-primary" (click)="showTable(sheet.name)"
        [class.active]="selectedSheet.name === sheet.name">
        {{ sheet.name }}
      </button>
    </div>
  </div>
</div>