@import "src/styles.scss";

.screen {
  min-height: calc(100vh - 68px);
}

.contenedor-tabla {
  overflow-x: auto;
  overflow-y: auto;
  width: 100%;
}

table {
  width: 100%;
  table-layout: fixed;
}



td,
th {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sin-bordes {
  padding: 0;
  margin: 3px;
  color: gray;
}


th.dragging {
  opacity: 0.5;
}

/* estilo del apartado donde se carga los archivos */
.placeholder-box {
  height: 250px;
  border: 3px dashed #ccc;
  border-radius: 4px;
  color: #666;
  font-size: 16px;
  text-align: center; 
}
/* su hover */
.placeholder-box.drag-over {
  border-color: #007bff;
  background-color: #eaf4ff;
}