@import "src/styles.scss";

.screen {
  min-height: calc(100vh - 68px);
}

.contenedor-tabla {
  overflow-x: auto;
  overflow-y: auto;
  width: 100%;
  height: 85vh;
}

table {
  width: 100%;
  table-layout: fixed;
}



td,
th {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sin-bordes {
  padding: 0;
  margin: 3px;
  color: gray;
}
