.modal-content {
  border-color: #3f51b5;
}

.nav-tabs .nav-link.active {
  background-color: #3f51b5;
  color: white;
}
.nav-item button{
  color: #3f51b5;
}
.btn-outline-secondary {
  border-color: #3f51b5;
  color: #3f51b5;
}

.btn-outline-secondary:hover {
  background-color: #3f51b5;
  color: white;
}

.nav-link{
  font-size: 14px;
}

.tab-pane {
  display: none; 
  height: 520px;
  overflow-y: auto;
  padding: 10px 0;
}

.tab-pane.show.active {
  display: block; /* Muestra solo la pestaña activa */
}

mat-dialog-content {
  min-width: 1080px; 
  height: auto; 
  max-height: none;
  overflow: hidden; 
  padding: 16px ;
}

.tab-content {
  width: 100%; 
  height: 520px; 
  margin-top: 10px;
}

.map-container {
  height: 100% ; /* El mapa ocupa todo el alto disponible */
  width: 100%;
  padding: 0;
  margin: 0;
  
  app-map {
    display: block;
    height: 100%;
    width: 100%;
  }
}

// Para la pestaña del mapa, ajustar padding
#mapa {
  padding: 0;
}



