<div class="p-3 d-flex flex-column gap-4">
    <!-- parte superior -->
    <div class="d-flex align-items-center gap-3">
        <mat-icon>people</mat-icon>
        <h2 class="m-0">Detalles de Cliente</h2>
    </div>
    
    <!-- datos del cliente -->
    <mat-dialog-content class="px-0 d-flex flex-column gap-3">
        <div class="d-flex gap-2">
            <!-- Nombre Empresa -->
            <mat-form-field class="w-75" appearance="fill" subscriptSizing="dynamic">
                <mat-label>Nombre Empresa</mat-label>
                <input matInput readonly="true" [(ngModel)]="client.nombre_empresa" autocomplete="off" placeholder="Nombre Empresa" />
            </mat-form-field>
            <!-- Nombre Fiscal -->
            <mat-form-field class="w-75" appearance="fill" subscriptSizing="dynamic">
                <mat-label>Nombre Fiscal</mat-label>
                <input matInput readonly="true" [(ngModel)]="client.nombre_fiscal" autocomplete="off" placeholder="Nombre Fiscal" />
            </mat-form-field>
        </div>
        <div class="">
            <div class="d-flex gap-2">
                <!-- Código Postal -->
                <mat-form-field appearance="fill" subscriptSizing="dynamic">
                    <mat-label>Código Postal</mat-label>
                    <input matInput readonly="true" [(ngModel)]="client.CP" autocomplete="off" placeholder="Código postal" />
                </mat-form-field>
                <!-- Población Cliente -->
                <mat-form-field appearance="fill" subscriptSizing="dynamic">
                    <mat-label>Población</mat-label>
                    <input matInput readonly="true" [(ngModel)]="client.nombre_poblacion" autocomplete="off" placeholder="Población" />
                </mat-form-field>
                <!-- Provincia Cliente -->
                <mat-form-field appearance="fill" subscriptSizing="dynamic">
                    <mat-label>Provincia</mat-label>
                    <input matInput readonly="true" [(ngModel)]="client.nombre_provincia" autocomplete="off" placeholder="Provincia" />
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>
    <!-- Botón de cerrar -->
    <mat-dialog-actions class="justify-content-end">
        <button mat-raised-button (click)="close()">Cerrar</button>
    </mat-dialog-actions>
</div>
