 .modal-content {
  border-color: #3f51b5;
}

.nav-tabs .nav-link.active {
  background-color: #3f51b5;
  color: white;
}
.nav-item button{
  color: #3f51b5;
}
.btn-outline-secondary {
  border-color: #3f51b5;
  color: #3f51b5;
}

.btn-outline-secondary:hover {
  background-color: #3f51b5;
  color: white;
}

.nav-link{
  font-size: 14px;
}


