  /* Header Styles */
  h2 {
    font-size: 1.75rem;
    margin: 0;
    color: #007bff;
    display: flex;
    align-items: center;
  }
  
  .icon-title {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .text-dark {
    color: #495057;
  }
  

.modal-header {
  background-color: #007bff;
  color: white;
}

.modal-content {
  border-color: #007bff;
}

.nav-tabs .nav-link.active {
  background-color: #007bff;
  color: white;
}

.btn-outline-secondary {
  border-color: #007bff;
  color: #007bff;
}

.btn-outline-secondary:hover {
  background-color: #007bff;
  color: white;
}




