<div class="d-flex align-items-center justify-content-center contenedor background-login">
    <div class="col-4 rounded-4 align-self-center background-light-gray">
        <div class="m-5 d-flex flex-column justify-content-center align-items-center">
            <!-- Logo Mobentis -->
            <img class="col-8 logo mb-2" src="../../../../assets/images/mobentisLogo.png" alt="logo">
            <h2 class="titulo">Recupera tu cuenta</h2>
            <form [formGroup]="changePassForm" (ngSubmit)="changePassword()" class="mt-4 col-12 d-flex flex-column align-items-center">
                
                <!-- Campo Email -->
                <div class="mb-3 w-100">
                    <label for="emailInput" class="form-label">Email</label>
                    <input readonly type="email" id="emailInput" class="form-control" [formControl]="emailFormControl">
                </div>

                <p class="mt-2">Introduce tu nueva contraseña</p>
                
                <!-- Campo Nueva Contraseña -->
                <div class="mb-3 w-100 position-relative">
                    <label for="newPassInput" class="form-label">Nueva Contraseña</label>
                    <div class="input-group">
                        <input [type]="hide ? 'password' : 'text'" id="newPassInput" class="form-control" [formControl]="newPassFormControl" placeholder="Nueva Contraseña">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary" 
                                    (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <i class="bi" [ngClass]="hide ? 'bi-eye-slash' : 'bi-eye'"></i>
                            </button>
                        </div>
                    </div>
                    <div *ngIf="newPassFormControl.hasError('password') && !newPassFormControl.hasError('required')" class="text-danger mt-1">
                        Por favor introduzca la nueva contraseña.
                    </div>
                    <div *ngIf="newPassFormControl.invalid && (newPassFormControl.dirty || newPassFormControl.touched)" class="invalid-feedback d-block">
                        <div *ngIf="newPassFormControl.hasError('required')" class="text-danger mt-1">
                            La nueva contraseña es <strong>Obligatorio</strong>.
                        </div>
                    </div>
                </div>
                
                <!-- Campo Repetir Nueva Contraseña -->
                <div class="mb-3 w-100 position-relative">
                    <label for="newPassInput2" class="form-label">Repita Nueva Contraseña</label>
                    <div class="input-group">
                        <input [type]="hide2 ? 'password' : 'text'" id="newPassInput2" class="form-control" [formControl]="newPassFormControl2" placeholder="Repetir Contraseña">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary" 
                                    (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                                <i class="bi" [ngClass]="hide2 ? 'bi-eye-slash' : 'bi-eye'"></i>
                            </button>
                        </div>
                    </div>
                    <div *ngIf="newPassFormControl2.hasError('password') && !newPassFormControl2.hasError('required')" class="text-danger mt-1">
                        Por favor repita la nueva contraseña.
                    </div>
                    <div *ngIf="newPassFormControl2.invalid && (newPassFormControl2.dirty || newPassFormControl2.touched)" class="invalid-feedback d-block">
                        <div *ngIf="newPassFormControl2.hasError('required')" class="text-danger mt-1">
                            Repetir la nueva contraseña es <strong>Obligatorio</strong>.
                        </div>
                    </div>
                </div>

                <!-- Mensaje de Error -->
                <div class="error text-danger mt-2" *ngIf="errorChangePass">
                    {{messageError}}
                </div>

                <!-- Botón Continuar -->
                <button type="submit" class="btn btn-primary col-12 mt-3">Continuar</button>
            </form>
        </div>
    </div>
</div>
