<h2 mat-dialog-title class="m-0">Cambio de contraseña</h2>
<form [formGroup]="changePassForm" (ngSubmit)="changePassword()">
    <div mat-dialog-content class="container py-0">
        <div class="mb-3">
            <label for="emailInput" class="form-label">Email</label>
            <input type="email" id="emailInput" class="form-control" [formControl]="emailFormControl"
                placeholder="Ex. pat@example.com">
            <div *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')" class="text-danger">
                Por favor introduzca un Email válido.
            </div>
            <div *ngIf="emailFormControl.hasError('required')" class="text-danger">
                El Email es <strong>Obligatorio</strong>
            </div>
            <div *ngIf="emailFormControl.hasError('pattern')" class="text-danger">
                El Email introducido no es válido.
            </div>
        </div>
        <div class="error text-danger" *ngIf="errorChangePass">
            {{messageError}}
        </div>
    </div>
    <div mat-dialog-actions class="d-flex justify-content-end gap-2">
        <button type="submit" class="btn btn-primary">Aceptar</button>
        <button type="button" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
    </div>
</form>
