@import "src/styles.scss";

.search-style{
    position: sticky;
    top: 0;
}

.h-max {
    overflow: hidden;
    overflow-y: auto;
    max-height: calc(95vh - 350px);
}
input[type=checkbox]{
    transform: scale(1.3);
    accent-color: #3c27c5;
}