.progress-circle-container {
    position: relative;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .progress-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: conic-gradient(var(--color) calc(var(--percent) * 1%), #e6e6e6 calc(var(--percent) * 1%));
    display: flex;  
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 18px;
  }
  
  .progress-circle::before {
    content: '';
    position: absolute;
    width: 85%;
    height: 85%;
    background-color: var(--inner-color);
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Contenedor de texto que engloba porcentaje y valor */
  .progress-text,
  .progress-value {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
  }
  
  .progress-text {
    font-size: medium;
    font-weight: bold;
    transition: opacity 0.3s ease-in-out;
  }
  
  .progress-value {
    margin-top: 25px;
    font-size: smaller;
    color: gray;
    transition: opacity 0.3s ease-in-out;
  }
  
  .hidden {
    opacity: 0;
  }