<div class="background-light-gray">
  <div class="d-flex flex-column gap-2 justify-content-between align-items-center p-2 titulo bg-white">
    <!-- titulo y icono -->
    <mobentis-page-title [icon]="'assets/images/iconos/dashboard-icon-dark.svg'" [title]="'Dashboard'"></mobentis-page-title>
    <div class="max-w-kpi">
      <mobentis-kpi [selectedFilters]="selectedFilters"></mobentis-kpi>
    </div>
  </div>
  <!-- apartado de las graficas -->
  <div class="container-fluid ">
    <div class="row">
      <!-- Columna vacía izquierda -->
      <div class="col"></div>
      
      <!-- Columna principal con gráficas -->
      <div class="col-10">
        <div class="my-3">
          <!-- boton de filtros aplicados o limpiar -->
          <div class="d-flex justify-content-between align-items-center gap-2">
            <div class="d-flex align-items-center gap-2">
              <!-- Selector de Empresas (Dropdown) -->
              <mobentis-empresa-dropdown 
                *ngIf="isEmpresaDropdownVisible"
                (empresasChange)="onEmpresasChange($event)">
              </mobentis-empresa-dropdown>

              <mobentis-filter-container [componentId]="'dashboard-general'" (filtersChanged)="onFiltersChanged($event)"></mobentis-filter-container>
            </div>
          </div>
        </div>
        
        <div class="row ">
          <!-- Primera fila de gráficas -->
          <div class="col-md-4 mb-3">
            <div class="contenedor-grafica-s background-white rounded-4">
              <!-- <mobentis-grafica-pastel [titulo]="'Clientes'" [datos]="[{ value: 1324, name: 'Con rechazos' }, { value: 570, name: 'Sin rechazos' }]" [elementoId]="'graficoClientes'"></mobentis-grafica-pastel> -->
              <mobentis-grafica-pastel [titulo]="'Clientes'" [datos]="datos_grafica_clientes" [elementoId]="'graficoClientes'" ></mobentis-grafica-pastel>
              
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="contenedor-grafica-s background-white rounded-4">
              <!-- <mobentis-grafica-semi-circulo [titulo]="'Motivos de Rechazo'" [valores]="[{ value: 23136, name: 'Packaging' }, { value: 18370, name: 'Mala calidad' }, { value: 17224, name: 'Precio' }, { value: 8130, name: 'No aplica' }]" [elementoId]="'motivos-rechazo'"></mobentis-grafica-semi-circulo>-->
              <mobentis-grafica-semi-circulo [titulo]="'Motivos de Rechazo'" [valores]="datos_grafica_motivos" [elementoId]="'motivos-rechazo'"></mobentis-grafica-semi-circulo>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="contenedor-grafica-s background-white rounded-4">
             <!-- <mobentis-grafica-barra-horizontal [titulo]="'Familias de productos'" [categorias]="['Conservas', 'Verduras', 'Congelados', 'Vinos', 'Carnes', 'Frutas']" [valores]="[11600, 18460, 12300, 7200, 7100, 10200]" [elementoId]="'rechazos-familias'"></mobentis-grafica-barra-horizontal> -->
             <mobentis-grafica-barra-horizontal [titulo]="'Familias de productos'" [categorias]="datos_grafica_familias?.categorias" [valores]="datos_grafica_familias?.valores" [elementoId]="'rechazos-familias'"></mobentis-grafica-barra-horizontal>
            </div>
          </div>
        </div>
  
        <div class="row ">
          <!-- Segunda fila de gráficas -->
          <div class="col-md-4 mb-3">
            <div class="contenedor-grafica-s background-white rounded-4">
              <!--<mobentis-grafica-barra-horizontal [titulo]="'Potencialidad'" [categorias]="['D', 'C', 'B', 'A']" [valores]="[11210, 8123, 32522, 15005]" [elementoId]="'rechazos-segmentacion-1'"></mobentis-grafica-barra-horizontal> -->
              <mobentis-grafica-barra-horizontal [titulo]="datos_grafica_s1?.titulo" [categorias]="datos_grafica_s1?.categorias" [valores]="datos_grafica_s1?.valores" [elementoId]="'rechazos-segmentacion-1'"></mobentis-grafica-barra-horizontal>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="contenedor-grafica-s background-white rounded-4">
              <!-- <mobentis-grafica-barra-horizontal [titulo]="'Tipología'" [categorias]="['Tienda Alimentación Minorista', 'Personal Empresa', 'OCIO', 'Mayoristas', 'Bar/Tapas']" [valores]="[10700, 15300, 6010, 24700, 10530]" [elementoId]="'rechazos-segmentacion-2'"></mobentis-grafica-barra-horizontal>-->
              <mobentis-grafica-barra-horizontal [titulo]="datos_grafica_s2?.titulo" [categorias]="datos_grafica_s2?.categorias" [valores]="datos_grafica_s2?.valores" [elementoId]="'rechazos-segmentacion-2'"></mobentis-grafica-barra-horizontal>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="contenedor-grafica-s background-white rounded-4">
              <!-- <mobentis-grafica-barra-horizontal [titulo]="'Imagen'" [categorias]="['Tradicional', 'Moderna', 'Emblemática']" [valores]="[24680, 22000, 20000]" [elementoId]="'rechazos-segmentacion-3'"></mobentis-grafica-barra-horizontal>-->
              <mobentis-grafica-barra-horizontal [titulo]="datos_grafica_s3?.titulo" [categorias]="datos_grafica_s3?.categorias" [valores]="datos_grafica_s3?.valores" [elementoId]="'rechazos-segmentacion-3'"></mobentis-grafica-barra-horizontal>
            </div>
          </div>
        </div>
  
        <div class="row">
          <!-- Tercera fila de gráficas -->
          <div class="col-md-4 mb-3">
            <div class="contenedor-grafica-s background-white rounded-4">
              <!-- <mobentis-grafica-barra-horizontal [titulo]="'Top de productos'" [categorias]="['Aceite de oliva Arbequina', 'Miel de azahar', 'Lentejas Las Charras', 'Loctite 243', 'Bombones La Despensa de
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="contenedor-grafica-s background-white rounded-4">
              <!--<mobentis-grafica-barra-vertical [titulo]="'Por mes'" [categorias]="['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic']" [valores]="[0, 0, 0, 0, 5860, 18000, 43000]" [elementoId]="'rechazos-mes'"></mobentis-grafica-barra-vertical>-->
              <mobentis-grafica-barra-vertical [titulo]="'Por mes'" [categorias]="datos_grafica_mes?.categorias" [valores]="datos_grafica_mes?.valores" [elementoId]="'rechazos-mes'"></mobentis-grafica-barra-vertical>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="contenedor-grafica-s background-white rounded-4">
              <!-- <mobentis-grafica-barra-vertical [titulo]="'Por día de la semana'" [categorias]="['Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab', 'Dom']" [valores]="[12346, 15035, 9120, 6500, 6303, 9350, 8206]" [elementoId]="'rechazos-dia'"></mobentis-grafica-barra-vertical>-->
              <mobentis-grafica-barra-vertical [titulo]="'Por día de la semana'" [categorias]="datos_grafica_semana?.categorias" [valores]="datos_grafica_semana?.valores" [elementoId]="'rechazos-dia'"></mobentis-grafica-barra-vertical>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Columna vacía derecha -->
      <div class="col"></div>
    </div>
  </div>
  <div class="background-white rounded-4  p-3 mt-3">
    <div>
      <div class="form-group col-3">
        <select id="tablaActiva" class="form-select form-select-sm" [(ngModel)]="tablaActiva" (change)="select($event)">
          <ng-container *ngFor="let nombre of nombresTablas; let i = index">
            <option *ngIf="valoresTablas[i].length > 0" [value]="i">
              {{ nombre }}
            </option>
          </ng-container>
        </select>
      </div>
      <div>
        <div class="table-responsive">
          <table class="table table-hover table-sm my-0">
            <!-- Columna Dinámica para 'nombre' -->
            <thead>
              <tr>
                <th class="sticky-left">{{ nombresTablas[tablaActiva] }}</th>
                <th class="text-end sticky-left">Total</th>

                <!-- Columnas dinámicas de tipos de rechazos -->
                <th *ngFor="let columna of columnasRechazos" class="text-end column-rechazos"> {{ columna }} </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let element of paginadorData">
                <td class="sticky-left" [title]="element.nombre"
                  [attr.data-toggle]="element.nombre.length > 32 ? 'tooltip' : ''">
                  {{ element.nombre }}
                </td>
                <td class="sticky-left text-end">{{ element.total }}</td>

                <!-- Celdas dinámicas de rechazos -->
                <td class="text-end column-rechazos" *ngFor="let columna of columnasRechazos">
                  {{ element.rechazos[columna] || 0 }}
                </td>
              </tr>

              <!-- Fila sin datos -->
              <tr *ngIf="paginadorData.length === 0">
                <td colspan="4" class="text-center">No hay datos que mostrar</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Componente de Paginación -->
        <mobentis-pagination [totalItems]="data.length" [itemsPerPage]="itemsPerPage" [currentPage]="currentPage"
          (pageChange)="changePage($event)" (itemsPerPageChanged)="onItemsPerPageChanged($event)">
        </mobentis-pagination>
      </div>
    </div>
  </div>

</div>