.fondo {
  background-color: #f3f3f3;
}
.page-heading{
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 300;
}
.hide {
  visibility: hidden;
  transition: all 1s ease-out;
  opacity: 0;
}

.color-dark {
  color: #6D6D6D;
}

.numeroKPI {
  font-weight: 900;
  font-size: larger;
}

.tituloKPI {
  font-size: small;
  font-weight: lighter;
}

.kpis {
  background-color: white;
  border-radius: 1em;
}

.abajo {
  border-top: solid white;
}

.verde {
  background-color: #3ab284;
}

.amarillo {
  background-color: #d6d253;
}

.fondo-blanco {
  background-color: white;
  border-radius: 1em;
}

.contenedor-grafica-s {
  height: 300px;
}

.contenedor-grafica-t {
  height: 618px;
}

// .grande {
//     display: none;
// }

// @media (max-width: 1399px) {
//     .medio {
//         display: block;
//     }

//     .grande {
//         display: none;
//     }
// }

// @media (min-width: 1400px) {
//     .medio {
//         display: none;
//     }

//     .grande {
//         display: block;
//     }
// }


.icon-title {
  width: 40px;
  height: 40px;
  display: block;
}


//Estilos tabla


table {
  width: 100%;
}

.table-container {
  overflow: auto;
  max-height: 100%;
  max-width: 100%;
}
.mat-column-nombre {
  min-width: 400px;
  padding: 0;
}
.mat-column-rechazos {
  min-width: 180px;
  padding: 0;
}

.mdc-data-table__cell{
  padding: 0;
}
