@import "src/styles.scss";

.page-heading {
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 300;
}

.hide {
  visibility: hidden;
  transition: all 1s ease-out;
  opacity: 0;
}
.max-w-kpi{
  max-width: 100%;
}
span.font-dashboard {
  font-size: small;
  color: #6D6D6D;
}

.abajo {
  border-top: solid white;
}

.verde {
  background-color: #3ab284;
}

.amarillo {
  background-color: #d6d253;
}

.contenedor-grafica-s {
  height: 300px;
}

.contenedor-grafica-t {
  height: 618px;
}


.icon-title {
  width: 40px;
  height: 40px;
  display: block;
}

//Estilos tabla

.table-responsive {
  margin: 0 auto;
  max-height: 500px;
}

table {
  font-size: small;
}

td {
  vertical-align: middle;
}

th {
  color: #3F51B5;

}

/* Fijar las columnas a la izquierda */
.sticky-left {
  position: sticky;
  left: 0;
  background: white;
  z-index: 1;
  /* Para que se superpongan correctamente al hacer scroll */
}

/* Ancho para la columna 'nombre' */
.sticky-left:first-child {
  min-width: 400px;

}

/* Ancho para la columna 'total' */
.sticky-left:nth-child(2) {
  min-width: 180px;
  left: 400px;
  padding-right: 10px;

}

.column-rechazos {
  min-width: 180px;
}

#tablaActiva {
  min-width: 200px;
  max-width: 300%;
}