<div class="py-5 px-2 h-100 fondo" (window:resize)="onResize()">
  <div class="row d-flex mx-3 mt-4 mb-0 justify-content-between">
    <div class=" col-2 container m-0  p-0"> <!-- col-9-->
      <div class="row align-items-center d-flex justify-content-between">
        <div class="d-flex align-items-center gap-3">
          <img class="col-1 icon-title p-0 my-4" src="assets/images/iconos/dashboard-icon-dark.svg" alt="Dashboard"
            matListItemIcon />
          <h1 class="mb-0 color-dark page-heading">Dashboard</h1>
        </div>
      </div>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
      <app-kpi class=""></app-kpi>
    </div>

    <div class="col-1 align-self-center d-flex justify-content-end">
      <button type="button" class="btn btn-secondary pb-0" (click)="toggleFiltro()">
        <mat-icon class="p-0 m-0">filter_list_alt</mat-icon>
      </button>
    </div>
  </div>

  <!-- filtro -->
  <div *ngIf="isFiltroActive" class="fondo-blanco">
    <form [formGroup]="filtro" (ngSubmit)="applyFilter()" class="col-12 d-flex flex-column p-3">
      <div class="container">
        <div class="row gx-2">
          <div class="col">
            <mat-form-field subscriptSizing="dynamic" class="col-12">
              <mat-label>Rango de fechas</mat-label>
              <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                <input formControlName="start" matStartDate placeholder="Desde">
                <input formControlName="end" matEndDate placeholder="Hasta">
              </mat-date-range-input>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field *ngIf="s1.length>0" subscriptSizing="dynamic" class="mb-2 col-12">
              <mat-label>{{s1[0].name}}</mat-label>
              <mat-select formControlName="segmentacion1FilterControl" multiple>
                <mat-option *ngFor="let s of s1" [value]="s.segmentation_value_id">{{s.segmentation_value}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field *ngIf="s2.length>0" subscriptSizing="dynamic" class="mb-2 col-12">
              <mat-label>{{s2[0].name}}</mat-label>
              <mat-select formControlName="segmentacion2FilterControl" multiple>
                <mat-option *ngFor="let s of s2" [value]="s.segmentation_value_id">{{s.segmentation_value}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row gx-2">
          <div class="col">
            <mat-form-field *ngIf="s3.length>0" subscriptSizing="dynamic" class="mb-2 col-12">
              <mat-label>{{s3[0].name}}</mat-label>
              <mat-select formControlName="segmentacion3FilterControl" multiple>
                <mat-option *ngFor="let s of s3" [value]="s.segmentation_value_id">{{s.segmentation_value}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field subscriptSizing="dynamic" class="col-12" matTooltip="Introduzca el nombre del cliente">
              <mat-label>Cliente</mat-label>
              <input formControlName="cliente" matInput>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field subscriptSizing="dynamic" class="mb-2 col-12">
              <mat-label>Provincia</mat-label>
              <mat-select formControlName="provinciaFilterControl" multiple>
                <mat-option *ngFor="let provincia of provinciaList" [value]="provincia">{{provincia}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row gx-2">
          <div class="col">
            <mat-form-field subscriptSizing="dynamic" class="mb-2 col-12">
              <mat-label>Población</mat-label>
              <mat-select formControlName="poblacionFilterControl" multiple>
                <mat-option *ngFor="let poblacion of poblacionList" [value]="poblacion">{{poblacion}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field subscriptSizing="dynamic" class="mb-2 col-12">
              <mat-label>Vendedor</mat-label>
              <mat-select formControlName="agenteFilterControl" multiple>
                <mat-option *ngFor="let agente of agenteList" [value]="agente.id">{{agente.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field subscriptSizing="dynamic" class="mb-2 col-12">
              <mat-label>Familia</mat-label>
              <mat-select formControlName="familiaFilterControl" multiple>
                <mat-option *ngFor="let familia of familiaList" [value]="familia">{{familia}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="col justify-content-end gap-2 d-flex mt-2">
          <button mat-raised-button color="light" type="submit" (click)="applyFilter()" cdkFocusInitial>Filtrar</button>
          <button mat-raised-button color="light" (click)="resetFilter()" mat-button>Limpiar</button>
          <button mat-raised-button color="light" (click)="toggleFiltro()" mat-button>Cancelar</button>
        </div>
      </div>

    </form>
  </div>

  <div class="container d-grid gap-3 mt-3">
    <div class="row">
      <div class="col-4">
        <div class="contenedor-grafica-s fondo-blanco"><app-grafica-clientes></app-grafica-clientes></div>
      </div>
      <div class="col-4">
        <div class="contenedor-grafica-s fondo-blanco"><app-grafica-motivos></app-grafica-motivos></div>
      </div>
      <div class="col-4">
        <div class="contenedor-grafica-s fondo-blanco">
          <app-grafica-pedidos-familias-productos></app-grafica-pedidos-familias-productos>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="contenedor-grafica-s fondo-blanco">
          <app-grafica-pedidos-segmentacion1></app-grafica-pedidos-segmentacion1>
        </div>
      </div>
      <div class="col-4">
        <div class="contenedor-grafica-s fondo-blanco">
          <app-grafica-pedidos-segmentacion2></app-grafica-pedidos-segmentacion2>
        </div>
      </div>
      <div class="col-4">
        <div class="contenedor-grafica-s fondo-blanco ">
          <app-grafica-pedidos-segmentacion3 class=""></app-grafica-pedidos-segmentacion3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="contenedor-grafica-s fondo-blanco">
          <app-grafica-productos-top></app-grafica-productos-top>
        </div>
      </div>
      <div class="col-4">
        <div class="contenedor-grafica-s fondo-blanco">
          <app-grafica-pedidos-mes class=""></app-grafica-pedidos-mes>
        </div>
      </div>
      <div class="col-4">
        <div class="contenedor-grafica-s fondo-blanco">
          <app-grafica-pedidos-dia></app-grafica-pedidos-dia>
        </div>
      </div>
    </div>
  </div>

  <div class="fondo-blanco p-3 mt-3">
    <div>
      <div class="form-group col-3">
        <select id="tablaActiva" class="form-select form-select-sm" [(ngModel)]="tablaActiva" (change)="select($event)">
          <option *ngFor="let nombre of nombresTablas; let i = index" [value]="i">
            {{ nombre }}
          </option>
        </select>
      </div>
      <div>
        <div class="table-responsive">
          <table class="table table-hover table-sm my-0">
            <!-- Columna Dinámica para 'nombre' -->
            <thead>
              <tr>
                <th class="sticky-left">{{ nombresTablas[tablaActiva] }}</th>
                <th class="text-end sticky-left">Total</th>
  
                <!-- Columnas dinámicas de tipos de rechazos -->
                <th *ngFor="let columna of columnasRechazos" class="text-end column-rechazos"> {{ columna }} </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let element of paginadorData">
                <td class="sticky-left" [title]="element.nombre" [attr.data-toggle]="element.nombre.length > 32 ? 'tooltip' : ''">
                  {{ element.nombre }}
                </td>
                <td class="sticky-left text-end">{{ element.total }}</td>
  
                <!-- Celdas dinámicas de rechazos -->
                <td class="text-end column-rechazos" *ngFor="let columna of columnasRechazos">
                  {{ element.rechazos[columna] || 0 }}
                </td>
              </tr>
  
              <!-- Fila sin datos -->
              <tr *ngIf="paginadorData.length === 0">
                <td colspan="4" class="text-center">No hay datos que mostrar</td>
              </tr>
            </tbody>
          </table>
        </div>
  
        <!-- Componente de Paginación -->
        <app-pagination
          [totalItems]="data.length"
          [itemsPerPage]="itemsPerPage"
          [currentPage]="currentPage"
          (pageChange)="changePage($event)">
        </app-pagination>
      </div>
    </div>
  </div>