<div class="d-flex align-items-center justify-content-center pantalla background-login">
  <div class="row p-3 background-light-gray rounded-4">
    <div id="img-container" class="col justify-content-center p-0 align-items-center img-container">
      <img id="sideImage" src="{{selectedImage}}" class="rounded-4">
    </div>
    <div class="col justify-content-center d-flex p-4">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <!-- Logo AppInWahts-->
        <img class="logo mb-3" src="../../../assets/images/mobentisLogo.png" alt="logo">
        <div id="titulo" class="pb-2">CONVERTER</div>
        <div id="subtitulo">DE RECHAZO A OPORTUNIDAD</div>
        
        <!-- Formulario con Bootstrap -->
        <form class="mt-4 w-100 d-flex flex-column align-items-center">
          <div class="d-flex w-100 flex-column gap-3">
            <!-- Campo Email -->
            <div class="form-group w-100">
              <label for="email">Email</label>
              <input type="email" id="email" class="form-control" [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
              <div *ngIf="emailFormControl.invalid && (emailFormControl.dirty || emailFormControl.touched)" class="invalid-feedback d-block">
                <div *ngIf="emailFormControl.hasError('required')">
                  El Email es <strong>Obligatorio</strong>
                </div>
                <div *ngIf="emailFormControl.hasError('email')">
                  Por favor introduzca un Email válido.
                </div>
                <div *ngIf="emailFormControl.hasError('pattern')">
                  El Email introducido no es válido.
                </div>
              </div>
            </div>
            <!-- Campo Contraseña -->
            <div class="form-group w-100">
              <label for="password">Password</label>
              <div class="input-group">
                <input [type]="hide ? 'password' : 'text'" id="password" class="form-control" [formControl]="passFormControl">
                <div class="input-group-append">
                  <button type="button" class="btn btn-outline-secondary" (click)="hide = !hide">
                    <i class="fas" [ngClass]="hide ? 'fa-eye-slash' : 'fa-eye'"></i>
                  </button>
                </div>
              </div>
              <div *ngIf="passFormControl.invalid && (passFormControl.dirty || passFormControl.touched)" class="invalid-feedback d-block">
                <div *ngIf="passFormControl.hasError('required')">
                  La contraseña es <strong>Obligatoria</strong>
                </div>
              </div>
            </div>
          </div>

          <!-- Error de Login -->
          <div class="error text-danger" *ngIf="errorLogin">
            {{messageError}}
          </div>

          <a class="align-self-center mt-3">¿Has olvidado la contraseña?</a>
          
          <!-- Botón de Iniciar Sesión -->
          <button type="submit" class="btn btn-primary w-100 mt-3" (click)="login()">Iniciar Sesión</button>
          
          <a class="align-self-center pt-3" href="https://mobentis.com/">mobentis.com</a>
        </form>
      </div>
    </div>
  </div>
</div>
