<div class="d-flex align-items-center justify-content-center screen background-login">
  <div class="row p-3 background-light-gray rounded-4">
    <div class="col justify-content-center p-0">
      <img id="sideImage" src="{{selectedImage}}" class="rounded-4">
    </div>
    <div class="col justify-content-center d-flex p-4">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <!-- Logo AppInWahts-->
        <img class="logo mb-3" src="../../../assets/images/mobentisLogo.png" alt="logo">
        <div id="titulo" class="pb-2">CONVERTER</div>
        <div id="subtitulo">DE RECHAZO A OPORTUNIDAD</div>
        <!--formulario Material-->
        <form class="mt-4 w-100 d-flex flex-column align-items-center">
          <mat-form-field class="w-100">
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
              placeholder="Ex.pat@example.com">
            <mat-hint></mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Por favor introduzca un Email válido.
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              El Email es <strong>Obligatorio</strong>
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('pattern')">
              El Email introducido no es válido.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w-100">
            <mat-label>Password</mat-label>
            <input matInput [formControl]="passFormControl" [errorStateMatcher]="matcher"
              [type]="hide ? 'password' : 'text'">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="passFormControl.hasError('password') && !passFormControl.hasError('required')">
              Por favor introduzca la contraseña.
            </mat-error>
            <mat-error *ngIf="passFormControl.hasError('required')">
              La contraseña es <strong>Obligatorio</strong>
            </mat-error>
          </mat-form-field>

          <div class="error" *ngIf="errorLogin">
            {{messageError}}
          </div>
          <a class="align-self-start">¿Has olvidado la contraseña?</a>
          <button mat-raised-button color="primary" type="submit" (click)="login()" class="w-100 mt-3">Iniciar
            Sesión</button>
          <a class="align-self-center pt-3" href="https://mobentis.com/">mobentis.com</a>
        </form>
      </div>
    </div>
  </div>
</div>