mat-sidenav-container {
    height: calc(100vh - 65px);
  }

.content {
    height: 400px;
    display: flex;
    font-size: 2rem;
    color: lightgray;
}

.logo {
    width: 60%;
  }
  
  .login-form {
    width: 100%;
  }
  
  .btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: #52ca0a;
    border-color: #52ca0a;
  }
  
  .btn {
    width: 30%;
  }
  
  .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: rgb(6, 72, 6);
    --bs-btn-border-color: rgb(6, 72, 6);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgb(6, 72, 6);
    --bs-btn-hover-border-color: rgb(6, 72, 6);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgb(6, 72, 6);
    --bs-btn-active-border-color: rgb(6, 72, 6);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: rgb(6, 72, 6);
    --bs-btn-disabled-border-color: rgb(6, 72, 6);
  }
  
  .full-width {
    width: 100%;
  }
  
  .error {
    color: red;
    font-size: 15px;
  }
