.header{
  width: auto;

}

body.menu-behind .header .brand{
  border-radius: 6px;
  padding: 6px;
  margin: 0;
}

/* Estilos para el navbar */
.navbar-dark {
  background-color: #1f2a38; /* Fondo oscuro para el navbar */
  padding-left:26px;
}

/* Estilos para los ítems del menú */
.navbar-nav .nav-item .nav-link {
  color: #ffffff; /* Color blanco para los enlaces del navbar */
  cursor: pointer; /* Cursor de mano para los enlaces */
}

.header-col{
  width: auto;
  padding-left: 0;
  padding-right: 0;
}
.header-col--logo{
  display: inline-flex;
}
.header-inner{
  cursor: pointer;
}
/* Estilos para el logo */
.logo_mini {
  height: 30px;
}

/* Estilos para el submenú */
.dropdown-menu {
  display: none; /* Ocultar el submenú por defecto */
  background-color: #1f2a38; /* Fondo oscuro para el submenú */
}

.nav-item:hover .dropdown-menu {
  display: block; /* Mostrar el submenú cuando el ítem del menú esté en hover */
  ;
}

/* Asegurar que el submenú se mantenga visible mientras el mouse está sobre él */
.nav-item:hover .dropdown-menu,
.dropdown-menu:hover {
  display: block; /* Mostrar el submenú cuando el mouse está sobre el submenú */
}

.dropdown-item {
  color: #ffffff; /* Color blanco para los ítems del submenú */
}

.dropdown-item:hover {
  background-color: #495057; /* Color de fondo cuando se pasa el mouse sobre el ítem del submenú */
}

/* Estilos para el avatar del perfil */
.avatar {
  border-radius: 50%;
  cursor: pointer;
  margin-left: 10px;
}

@media (min-width: 992px) {
  .header .header-inner .header-row{
    height: 64px;
  }
  
  .header-col{
    flex: 0 0 auto;
  }
}