<nav class="header navbar navbar-expand-lg navbar-dark">
  <!-- Logo de la aplicación o de la empresa -->
   <div class="container-fluid relative no-padding">
    <div class="header-col header-col--logo">
      <a class="navbar-brand header-inner d-flex align-items-center boards-main-link " [routerLink]="['dashboard/global']">
        <div class="brand inline">
          <img class="header-logo" src="/assets/images/AIW_mini.png" alt="logo" />
        </div>
      </a>
      <!-- Botón de toggler para vista móvil -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>  
    </div>
    <div class="header-col header-col--menu">
      <!-- Contenido del navbar -->
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav">
          <!-- Botones del menú -->
          <li class="nav-item" *ngFor="let item of menuItems" [ngClass]="{'dropdown': item.hasSubmenu}">
            <a class="nav-link" 
               [routerLink]="item.route" 
               routerLinkActive="active"
               (mouseover)="toggleDropdown(item)"
               (mouseleave)="hideDropdown(item)">
              {{item.label}}
            </a>
    
            <!-- Submenú desplegable para ítems con submenú -->
            <div class="dropdown-menu" *ngIf="item.hasSubmenu && item.showSubmenu">
              <a class="dropdown-item" *ngFor="let subItem of item.submenuItems" [routerLink]="subItem.route">
                {{subItem.label}}
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
          <!-- Espacio flexible -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <img [width]="profilePicSize()" [height]="profilePicSize()" src="{../..}" alt="Perfil" class="avatar" (click)="openProfileEditPopup()" onError="this.src='assets/images/user.png'" />
            </li>
          </ul>


   </div>
   </nav>
   
   <!-- Contenido principal -->
   <div class="content">
     <div class="h-screen">
       <router-outlet></router-outlet>
     </div>
   </div>
