/* estilo para el funcionamiento de toast */
@import 'ngx-toastr/toastr';
/* @import '~@ng-select/ng-select/themes/default.theme.css';*/

/* You can add global styles to this file, and also import other style files */
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.screen {
    height: calc(100vh - 64px);
}

.pointer {
    cursor: pointer;
}

p,
label,
.tooltip .tooltip-inner,
input[type="text"].form-control,
input[type="password"].form-control,
.dropdown-item,
th,
td,
select {
    font-size: small;
}

.dropdown-menu,
.dropdown-item {
    min-width: auto;
}

/* Variables de colores */
$light-gray: #f3f4f6;
$background-login: #f4dec5;
$title-dark-gray: #6D6D6D;
$pink: #ff33d6;
$orange: #F2A057;

$color-primary: #3f51b5;
$color-secondary: #17a6ff;
$color-tertiary: #B3BE77;
$color-quaternary: #ff419a;

/* fondo de contenedor elementos de la ficha */
$color-content-ficha-client: #e6eaf5; 
.bg-content-ficha-client{
    background-color: $color-content-ficha-client;
}
/* fin de contendor elementos de la ficha */

/*clases con colores*/
.background-light-gray {
    background-color: $light-gray ;
}

.gray {
    color: gray;
}

.background-white {
    background-color: white;
}

.background-login {
    background-color: $background-login ;
}

.dark-gray {
    color: $title-dark-gray ;
}

.pink {
    color: $pink ;
}

.orange {
    color: $orange ;
}

.orange {
    color: $orange ;
}

.color-primary {
    color: $color-primary ;
}

.background-color-primary {
    background-color: $color-primary ;
}

.color-secondary {
    color: $color-secondary ;
}

.color-tertiary {
    color: $color-tertiary ;
}

.color-quaternary {
    color: $color-quaternary ;
}

/*
//Clases para botones

.btn-outline-primary {
    @include button-outline-variant($color-secondary , #ffffff, lighten($color-secondary , 5%), $color-secondary );
}

.btn-outline-success {
    @include button-outline-variant($color-tertiary , #ffffff, lighten($color-tertiary , 5%), $color-tertiary );
}

.btn-primary {
    @include button-variant($color-primary, darken($color-primary, 7.5%), #ffffff, lighten($color-primary, 5%), lighten($color-primary, 10%), #ffffff);
}

.btn-secondary {
    @include button-variant($color-secondary, darken($color-secondary, 7.5%), #000000, lighten($color-secondary, 5%), lighten($color-secondary, 10%), darken($color-secondary, 30%));
}

.btn-secondary {
    @include button-variant($light-gray, darken($light-gray, 7.5%), #000000, lighten($light-gray, 5%), lighten($light-gray, 10%), darken($light-gray, 30%));
}

.btn-primary-white {
    @include button-variant($color-secondary, darken($color-secondary, 7.5%), #ffffff, lighten($color-secondary, 5%), lighten($color-secondary, 10%), #ffffff);
}
*/