 /* Header Styles */
 h2 {
    font-size: 1.75rem;
    margin: 0;
    color: #007bff;
    display: flex;
    align-items: center;
  }
  
  .icon-title {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .text-dark {
    color: #495057;
  }
  