.cambio-estado {
    padding: 8px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.cambio-sin-guardar { 
    color: orange; 
}
.enviar-cambios { 
    color: blue; 
}
.cambio-guardado { 
    color: green; 
}