@import "src/styles.scss";

.status-indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
  
    &.status-not-sent {
      background-color: white;
    }
  
    &.status-pending {
      background-color: $orange;
    }
  
    &.status-sent {
      background-color: $color-tertiary;
      ;
    }
  }