<h2 mat-dialog-title class="m-0">Cambio de contraseña</h2>

<form [formGroup]="changePassForm" (ngSubmit)="changePassword()">

  <mat-dialog-content class="container py-0">
    <mat-form-field class="full-width">
      <mat-label>Contraseña actual</mat-label>
      <input matInput [formControl]="passFormControl" [errorStateMatcher]="matcher"
        [type]="hide1 ? 'password' : 'text'">
      <button type="button" mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide1">
        <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-hint></mat-hint>
      <mat-error *ngIf="passFormControl.hasError('password') && !passFormControl.hasError('required')">
        Por favor introduzca la contraseña.
      </mat-error>
      <mat-error *ngIf="passFormControl.hasError('required')">
        La contraseña es <strong>Obligatorio</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Nueva Contraseña</mat-label>
      <input matInput [formControl]="newPassFormControl" [errorStateMatcher]="matcher"
        [type]="hide2 ? 'password' : 'text'">
      <button type="button" mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide2">
        <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-hint></mat-hint>
      <mat-error *ngIf="passFormControl.hasError('password') && !passFormControl.hasError('required')">
        Por favor introduzca la nueva contraseña.
      </mat-error>
      <mat-error *ngIf="passFormControl.hasError('required')">
        La nueva contraseña es <strong>Obligatorio</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Repita Nueva Contraseña</mat-label>
      <input matInput [formControl]="newPassFormControl2" [errorStateMatcher]="matcher"
        [type]="hide3 ? 'password' : 'text'">
      <button type="button" mat-icon-button matSuffix (click)="hide3 = !hide3" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide3">
        <mat-icon>{{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-hint></mat-hint>
      <mat-error *ngIf="passFormControl.hasError('password') && !passFormControl.hasError('required')">
        Por favor repita la nueva contraseña.
      </mat-error>
      <mat-error *ngIf="passFormControl.hasError('required')">
        Repetir la nueva contraseña es <strong>Obligatorio</strong>
      </mat-error>
    </mat-form-field>
    <div class="error" *ngIf="errorChangePass">
      {{messageError}}
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="d-flex justify-content-end gap-2">
    <button mat-raised-button color="light" type="submit">Aceptar</button>
    <button mat-raised-button color="light" type="button" (click)="cancelar()" mat-button
      cdkFocusInitial>Cancelar</button>
  </mat-dialog-actions>
</form>