.page-heading {
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 300;
}

span {
  position: relative;
  top: 5px;
}

.label {
  font-size: 14px;
}

.content {
  padding-left: 5px;
  font-size: 12px;
  color: gray;
}

.list-group-item {
  cursor: pointer;
  display: inline-block;
  width: fit-content;
}

.description {
  font-size: 12px;
  color: gray;
}

.shadow-card {
  border: none;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.row {
  margin-left: 0;
  margin-right: 0;
}