@import "src/styles.scss";

.screen {
  min-height: calc(100vh - 68px);
}

.page-heading {
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 300;
}

.row {
  margin-left: 0;
  margin-right: 0;
}