<div class="background-light-gray screen">
  <div class="d-flex align-items-center justify-content-start p-3">
    <i class="bi bi-wrench title-icon dark-gray"></i>
    <h1 class="mb-0 ps-2 dark-gray page-heading">Configuración</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 align-items-stretch my-3 px-0" *ngFor="let container of containers">
        <app-configuration-list-item-container [title]="container.title"
          [items]="container.items"></app-configuration-list-item-container>
      </div>
    </div>
  </div>
</div>