/* styles.css */
.screen {
  min-height: 100vh;
}

span {
  position: relative;
  top: 5px;
}

.label {
  font-size: 14px;
}

.content {
  padding-left: 5px;
  font-size: 12px;
  color: gray;
}

.list-group-item {
  cursor: pointer;
  display: inline-block;
  width: fit-content;
}

.description {
  font-size: 12px;
  color: gray;
}

.fondoBlanco {
  border-radius: 1em;
  background-color: white;
}

.fondoGris {
  background-color: #f3f3f3;
}

.verde {
  color: #4E5FBB;
}

.icon-title {
  width: 40px;
  height: 40px;
}

.color-dark {
  color: #6D6D6D;
}
