/* styles.css */
.screen {
  min-height: 100vh;
  background-color: #f3f4f6;
  padding-top: 60px;
}


.page-heading{
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 300;
}

span {
  position: relative;
  top: 5px;
}

.label {
  font-size: 14px;
}

.content {
  padding-left: 5px;
  font-size: 12px;
  color: gray;
}

.list-group-item {
  cursor: pointer;
  display: inline-block;
  width: fit-content;
}

.description {
  font-size: 12px;
  color: gray;
}

.fondoBlanco {
  border-radius: 1em;
  background-color: white;
}


.verde {
  color: #4E5FBB;
}

.icon-title {
  width: 40px;
  height: 40px;
}

.color-dark {
  color: #6D6D6D;
}

.shadow-card{
  border: none;
 box-shadow: 0 .5rem 1rem rgba(0,0,0,.15); 
}
@media (max-width: 991px) {
  .screen{
    padding-top: 48px;
  }
}